# Project 4 - Wrangle and Analyze Data
<img src="https://cdn10.bostonmagazine.com/wp-content/uploads/sites/2/2017/04/WeRateDogs.jpg" style="left;width: 400px;margin:20px 0px 0px 0px"/>

This project is to do wrangle and analyze on the tweet archive known as **WeRateDogs**.  **[WeRateDogs](https://en.wikipedia.org/wiki/WeRateDogs)** is a Twitter account that rates people's dogs with a humorous comment about the dog. These ratings almost always have a denominator of 10. The numerators, though? Almost always greater than 10. 11/10, 12/10, 13/10, etc. Why? Because "[they're good dogs Brent](https://knowyourmeme.com/memes/theyre-good-dogs-brent)." WeRateDogs has over 4 million followers and has received international media coverage.

**This project is consisted with the following part**

### Part 1. Wrangle
- A. Gathering data ✅
- B. Assessing data ✅
- C. Cleaning data ✅

### Part 2. Storing, Analyzing, and Visualize Data
- A. Storing cleaned data to CSV, SQLite
- B. Analyzing and Visualizing

### Part 3. Writing report
- A. Report of wrangling
- B. Report of insights with visualization

**Python Package will be used**
- pandas
- NumPy
- requests
- tweepy
- json
- pickle

In [1]:
# Import the python packages
# Packages that is not imported in this moment is mostly one-time usage
# So imported right away when that package is needed below
import pandas as pd
import numpy as np
import pickle
import json

## Part 1. Wrangle

As a three step we are going to gather data and assess to check the quality, tidiness and finally going to clean the data and make the master dataset to use for further analyzing

### A. Gathering data ✅

> **We are going to download the files that has the data we are going to use for analyze!**

1. WeRateDogs Twitter archieve 
2. Tweet image prediction
3. Each tweet's additional information gathered using tweepy library
    - retweet count, favorite("like) count at minimum

**After this process we will get 3 files**
1. twitter-archieve-enhanced.csv
2. image-predictions.csv
3. tweet-api.csv

**At here we are going to use 3 methods of gathering data**
1. Downloading manually using graphical interface
2. Using python request packages programmatically
3. Using tweeter API to download additional information about each tweets

#### 1. WeRateDogs Twitter archieve
Download `twitter_archive_enhanced.csv` file manually using graphical interface.
<br><br>
Click the following url to download $\rightarrow$ **[twitter-archive-enhanced.csv](https://d17h27t6h515a5.cloudfront.net/topher/2017/August/59a4e958_twitter-archive-enhanced/twitter-archive-enhanced.csv)**

In [2]:
# check the twitter_archieve_enhanced.csv file
twitter_df = pd.read_csv('twitter-archive-enhanced.csv')

# Check is this file successfully imported
twitter_df.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

#### 2. Tweet image prediction
We are going to download the `image-prediction.tsv` file programmatically using [Request](https://pypi.org/project/requests/) library. We are going to save this file to `image-prediction.csv`file to keep the extension constant.
<br><br>
Use the following url $\rightarrow$ **https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv**

In [10]:
import requests

# url for image-predictions.tsv
image_prediction_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
filename = "image-predictions.tsv"

# Request the data programmatically
# Check is the requests failed or not
try:
    response = requests.get(image_prediction_url)
    with open(filename, mode='wb') as f:
        f.write(response.content)
except requests.exceptions.RequestException as e:
    raise SystemExit(e)

In [11]:
# check the image-predictions.tsv file
# This is tab seperated file so we should pass sep variable as \t
image_df = pd.read_csv('image-predictions.tsv', sep='\t')

# Check is this file successfully imported
image_df.head(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [12]:
# for consistency save the file to csv file
image_df.to_csv('image-predictions.csv', index=False)

In [13]:
image_df = pd.read_csv('image-predictions.csv')

# Check is this file successfully saved
image_df.head(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

#### 3. Each tweet's additional information gathered using tweepy library

Below is the tweety code supported by udacity. The code will download each tweet id's additional informations using twitter API and store it in to file `tweet_json.txt`. After storing we will read the `tweet_json.txt` file one line by line and generate a pandas dataframe and store the information to the `tweet-api.csv` file.

In [ ]:
import tweepy
from tweepy import OAuthHandler
from timeit import default_timer as timer

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'tWwR3iZijD4QIrw24FVEzp1Sk'
consumer_secret = 'fwLghROhcFEGH5QgTTVud79JuWVAEjdaSz9CACX17wi0aoqnrF'
access_token = '1192944517-0lEdI2zcfd67WV16hyiMUigstpPZnHFKj2xlhQ8'
access_secret = 'qk3rdxkis1mCSMSzR24lVDZsoNWNkQpYICdQMOhx9TbLU'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = twitter_df.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

In [ ]:
# Store the information about failure using pickle
with open('api_failed.pkl', 'wb') as f:
    pickle.dump(fails_dict, f)

We won't try to find the failed tweet ids at here and treat this at the **Cleaning data** session

In [2]:
# Check is the value stored correctly
with open('api_failed.pkl', 'rb') as f:
    failed_dict = pickle.load(f)
print(failed_dict)

{888202515573088257: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 873697596434513921: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 872668790621863937: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 872261713294495745: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 869988702071779329: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 866816280283807744: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 861769973181624320: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 856602993587888130: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 851953902622658560: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 845459076796616705: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 844704788403113984: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 842892208864923648: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 837366284874571778: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 837012587749474308: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 829374341691346946: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 827228250799742977: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 812747805718642688: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 802247111496568832: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 779123168116150273: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 775096608509886464: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 771004394259247104: TweepError([{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}],), 770743923962707968: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 759566828574212096: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 754011816964026368: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 680055455951884288: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],)}

In [29]:
# Read json datas one by one and generate pandas dataframe
with open('tweet_json.txt', encoding='utf-8') as f:
    # Store line by line to list to iterate and remove the \n character using rstrip()
    lines = [line.rstrip() for line in f]
    
    observations = []
    for line in lines:
        # Convert string to json
        tweet_json = json.loads(line)
        
        # Use pretty printing for checking
        # This is only used when we are checking the entity!
        # print(json.dumps(tweet_json, indent=2))

        # parse id, retweet_count, favorite_count information
        tweet_id = tweet_json['id']
        retweet_count = tweet_json['retweet_count']
        favorite_count = tweet_json['favorite_count']
        
        # At the cleaning stage I found some problem with wrong expanded_urls
        # This information will be used to treat the problem
        try:
            expanded_url = tweet_json['entities']['media'][0]['expanded_url']
        except:
            expanded_url = tweet_json['user']['entities']['url']['urls'][0]['expanded_url']
            
        # Store observation row by row
        observations.append({'tweet_id': tweet_id,
                             'retweet_count': retweet_count,
                             'favorite_count': favorite_count,
                             'expanded_url': expanded_url})
    
    # Generate tweet_api dataframe
    tweet_api = pd.DataFrame(observations, columns=['tweet_id',
                                                    'retweet_count',
                                                    'favorite_count',
                                                    'expanded_url'])

In [30]:
# check the tweet_api dataframe
tweet_api.head(5)

,tweet_id,retweet_count,favorite_count,expanded_url
0,892420643555336193,7703,36188,https://twitter.com/dog_rates/status/892420643...
1,892177421306343426,5697,31216,https://twitter.com/dog_rates/status/892177421...
2,891815181378084864,3777,23503,https://twitter.com/dog_rates/status/891815181...
3,891689557279858688,7869,39486,https://twitter.com/dog_rates/status/891689557...
4,891327558926688256,8479,37705,https://twitter.com/dog_rates/status/891327558...

In [33]:
# Save the tweet_api dataframe to tweet_api.csv file
tweet_api.to_csv('tweet-api.csv', index=False)

In [34]:
api_df = pd.read_csv('tweet-api.csv')

# Check is this file successfully imported
api_df.head(5)

,tweet_id,retweet_count,favorite_count,expanded_url
0,892420643555336193,7703,36188,https://twitter.com/dog_rates/status/892420643...
1,892177421306343426,5697,31216,https://twitter.com/dog_rates/status/892177421...
2,891815181378084864,3777,23503,https://twitter.com/dog_rates/status/891815181...
3,891689557279858688,7869,39486,https://twitter.com/dog_rates/status/891689557...
4,891327558926688256,8479,37705,https://twitter.com/dog_rates/status/891327558...

### B. Assessing data ✅

> **We are going to assess the files to get understanding of the dataset and check the tidiness issues and quality issues to be fixed**

1. Visual assessment
2. Programmatic assessment
3. Tidiness issues
4. Quality issues

**We have 3 files to look at**
1. twitter-archieve-enhanced.csv
2. image-predictions.csv
3. tweet-api.csv

In [17]:
# Generate 3 dataframe for each csv files
tweet_df = pd.read_csv('twitter-archive-enhanced.csv')
image_df = pd.read_csv('image-predictions.csv')
api_df = pd.read_csv('tweet-api.csv')

#### 1. Visual assessment

Check the files that we have using visual assessment

In [16]:
tweet_df.expanded_urls[0]

'https://twitter.com/dog_rates/status/892420643555336193/photo/1'

In [3]:
# check tweet_df
tweet_df

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

There is 2356 tweet datas here. And each row has 17 columns.

[**Twitter developer page - Tweet objects**](https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object) was used as reference

tweet_df columns

- **tweet_id** : Unique IDs for objects within twitter
- **in_reply_to_status_id** : Nullable. If the represented Tweet is a reply, this field will contain the integer representation of the original Tweet's ID
- **in_reply_to_user_id** : Nullable. If the represented Tweet is a reply, this field will contain the integer representation of the original Tweet's author ID. This will not necessarily always be the user directly mentioned in the Tweet.
- **timestamp** : The timestamp that the tweet was created
- **source** : Utility used to post the Tweet, as an HTML-formatted string. Tweets from the Twitter website have a source value `web`
- **text** : The actual UTF-8 text written in Tweet including `url`
- **retweeted_status_id** : Same with **in_reply_to_status_id**
- **retweeted_status_user_id** : Same with **in_reply_to_user_id**
- **retweeted_status_timestamp** : Nullable. If the represented Tweet is a reply, this will contain the original Tweet's timestamp
- **expanded_urls** : The tweet's url
- **rating_numerator** : Numerator of the ratings. Originally formatted e.g. 13/10
- **rating_denominator** : Denominator of the ratings. Originally formatted e.g. 13/10
- **name** : Name of dog posted on the tweet
- **doggo** : A cute way of saying dog. It's a bigger version of a **pupper**.
- **floofer** : An animal of thing that's fluffy and soft
- **pupper** : A tiny **doggo**
- **puppo** : A cute dog or puppy

In [19]:
# check image_df
image_df

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

There is 2075 tweet datas here. And each row has 12 columns.

image_df columns

- **tweet_id** : Unique IDs for objects within twitter
- **jpg_url** : Url for the image posted on the tweet
- **img_num** : Image number that the tweet has (numbered 1 to 4 since tweets can have up to four images)
- **p1** : Algorithm's **#1** prediction for the image in the tweet
- **p1_conf** : How confident the algorithm is in its **#1** prediction
- **p1_dog** : Whether or not the **#1** prediction is a breed of dog
- **p2** : Algorithm's **#2** prediction for the image in the tweet
- **p2_conf** : How confident the algorithm is in its **#2** prediction
- **p2_dog** : Whether or not the **#2** prediction is a breed of dog
- **p3** : Algorithm's **#3** prediction for the image in the tweet
- **p3_conf** : How confident the algorithm is in its **#3** prediction
- **p3_dog** : Whether or not the **#3** prediction is a breed of dog

In [18]:
# check api_df
api_df

,tweet_id,retweet_count,favorite_count,expanded_url
0,892420643555336193,7703,36188,https://twitter.com/dog_rates/status/892420643...
1,892177421306343426,5697,31216,https://twitter.com/dog_rates/status/892177421...
2,891815181378084864,3777,23503,https://twitter.com/dog_rates/status/891815181...
3,891689557279858688,7869,39486,https://twitter.com/dog_rates/status/891689557...
4,891327558926688256,8479,37705,https://twitter.com/dog_rates/status/891327558...
5,891087950875897856,2842,18989,https://twitter.com/dog_rates/status/891087950...
6,890971913173991426,1847,11060,https://twitter.com/dog_rates/status/890971913...
7,890729181411237888,17194,60981,https://twitter.com/dog_rates/status/890729181...
8,890609185150312448,3912,26142,https://twitter.com/dog_rates/status/890609185...
9,890240255349198849,6690,29889,https://twitter.com/dog_rates/status/890240255...
10,890006608113172480,6676,28752,https://twitter.com/dog_rates/status/890006608...
11,889880896479866881,4546,26167,https://twitter.com/dog_rates/status/889880896...
12,889665388333682689,9117,45045,https://twitter.com/dog_rates/status/889665388...
13,889638837579907072,4087,25353,https://twitter.com/dog_rates/status/889638837...
14,889531135344209921,2056,14192,https://twitter.com/dog_rates/status/889531135...
15,889278841981685760,4858,23627,https://twitter.com/dog_rates/status/889278841...
16,888917238123831296,4099,27284,https://twitter.com/dog_rates/status/888917238...
17,888804989199671297,3868,23989,https://twitter.com/dog_rates/status/888804989...
18,888554962724278272,3176,18510,https://twitter.com/dog_rates/status/888554962...
19,888078434458587136,3161,20426,https://twitter.com/dog_rates/status/888078434...
20,887705289381826560,4911,28358,https://twitter.com/dog_rates/status/887705289...
21,887517139158093824,10733,43482,https://twitter.com/dog_rates/status/887517139...
22,887473957103951883,16402,64443,https://twitter.com/dog_rates/status/887473957...
23,887343217045368832,9550,31562,https://twitter.com/dog_rates/status/887343217...
24,887101392804085760,5442,28707,https://twitter.com/dog_rates/status/887101392...
25,886983233522544640,6999,32740,https://twitter.com/dog_rates/status/886983233...
26,886736880519319552,2931,11235,https://twitter.com/dog_rates/status/886736880...
27,886680336477933568,4079,21066,https://twitter.com/dog_rates/status/886680336...
28,886366144734445568,2889,19821,https://twitter.com/dog_rates/status/886366144...
29,886267009285017600,4,111,NaN
...,...,...,...,...
2301,666411507551481857,298,414,https://twitter.com/dog_rates/status/666411507...
2302,666407126856765440,32,100,https://twitter.com/dog_rates/status/666407126...
2303,666396247373291520,75,158,https://twitter.com/dog_rates/status/666396247...
2304,666373753744588802,83,173,https://twitter.com/dog_rates/status/666373753...
2305,666362758909284353,519,727,https://twitter.com/dog_rates/status/666362758...
2306,666353288456101888,66,198,https://twitter.com/dog_rates/status/666353288...
2307,666345417576210432,128,274,https://twitter.com/dog_rates/status/666345417...
2308,666337882303524864,83,181,https://twitter.com/dog_rates/status/666337882...
2309,666293911632134144,319,467,https://twitter.com/dog_rates/status/666293911...
2310,666287406224695296,61,136,https://twitter.com/dog_rates/status/666287406...
2311,666273097616637952,71,161,https://twitter.com/dog_rates/status/666273097...
2312,666268910803644416,32,96,https://twitter.com/dog_rates/status/666268910...
2313,666104133288665088,5985,13637,https://twitter.com/dog_rates/status/666104133...
2314,666102155909144576,11,70,https://twitter.com/dog_rates/status/666102155...
2315,666099513787052032,60,143,https://twitter.com/dog_rates/status/666099513...
2316,666094000022159362,67,154,https://twitter.com/dog_rates/status/666094000...
2317,666082916733198337,41,103,https://twitter.com/dog_rates/status/666082916...
2318,666073100786774016,146,297,https://twitter.com/dog_rates/status/666073100...
2319,666071193221509120,53,136,https://twitter.com/dog_rates/status/666071193...
2320,666063827256086533,197,448,https://twitter.com/dog_rates/status/666063827...
2321,666058600524156928,54,105,https://twitter.com/dog_rates/status/666058600...
2322,666057090499244032,126,268,https://twitter.com/dog_rates/status/666057090...
2323,666055525042405380,220,409,https://twitter.com/dog_rates/status/666055525...
2324,666051853826850816,776,1125,https://twitter.com/dog_rates/status/666051853...
2325,666050758794694657,51,125,https://twitter.com/dog_rates/status/666050758...
2326,666049248165822465,39,96,https://twitter.com/dog_rates/status/666049248...
2327,666044226329800704,132,271,https://twitter.com/dog_rates/status/666044226...
2328,666033412701032449,41,112,https://twitter.com/dog_rates/status/666033412...
2329,666029285002620928,42,121,https://twitter.com/dog_rates/status/666029285...
2330,666020888022790149,461,2411,https://twitter.com/dog_rates/status/666020888...

There is 2331 tweet datas here. And each row has 3 columns.

api_df columns

- **tweet_id** : Unique IDs for objects within twitter
- **retweet_count** : Number that indicate how many retweets does the tweet has?
- **favorite_count** : Number that indicate how many likes(favorites) does the tweet has?
- **expanded_url** : The url of the tweet

#### 2. Programmatic assessment

Check the files that we have using programmatic assessment. Below is a common methods used in pandas for programmatic assessment.
- `head` (DataFrame and Series)
- `tail` (DataFrame and Series)
- `sample` (DataFrame and Series)
- `info` (Dataframe only)
- `describe` (DataFrame and Series)
- `value_counts` (Series only)
- `duplicated` (DataFrame and Series)
- Various methods of indexing and selecting data (ex. `iloc`, `loc`)

**tweet_df**

In [18]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

`in_reply_to_status_id` is same with `retweeted_status_id` but the value is not recorded at both column for one row!
`in_reply_to_user_id` and `retweeted_status_user_id` is same!

In [38]:
# Check the duplicated values
tweet_df[['in_reply_to_status_id', 'retweeted_status_id']].query('in_reply_to_status_id == in_reply_to_status_id and retweeted_status_id == retweeted_status_id')

Empty DataFrame
Columns: [in_reply_to_status_id, retweeted_status_id]
Index: []

In [37]:
# Check the duplicated values
tweet_df[['in_reply_to_user_id', 'retweeted_status_user_id']].query('in_reply_to_user_id == in_reply_to_user_id and retweeted_status_user_id == retweeted_status_user_id')

Empty DataFrame
Columns: [in_reply_to_user_id, retweeted_status_user_id]
Index: []

In [37]:
# Check the duplicated values
tweet_df[['in_reply_to_user_id', 'retweeted_status_user_id']].query('in_reply_to_user_id == in_reply_to_user_id and retweeted_status_user_id == retweeted_status_user_id')

Empty DataFrame
Columns: [in_reply_to_user_id, retweeted_status_user_id]
Index: []

In [39]:
tweet_df.query('retweeted_status_timestamp == retweeted_status_timestamp').head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,https://twitter.com/dog_rates/status/886053434...,12,10,None,None,None,None,None
36,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Lilly. She just paralle...,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,https://twitter.com/dog_rates/status/830583320...,13,10,Lilly,None,None,None,None
68,879130579576475649,NaN,NaN,2017-06-26 00:13:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Emmy. She was adopted t...,8.780576e+17,4.196984e+09,2017-06-23 01:10:23 +0000,https://twitter.com/dog_rates/status/878057613...,14,10,Emmy,None,None,None,None
73,878404777348136964,NaN,NaN,2017-06-24 00:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Shadow. In an attempt to r...,8.782815e+17,4.196984e+09,2017-06-23 16:00:04 +0000,"https://www.gofundme.com/3yd6y1c,https://twitt...",13,10,Shadow,None,None,None,None

In [19]:
tweet_df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [55]:
# Check the name values
tweet_df.name.value_counts()

None        745
a            55
Charlie      12
Oliver       11
Cooper       11
Lucy         11
Tucker       10
Penny        10
Lola         10
Winston       9
Bo            9
the           8
Sadie         8
Toby          7
Buddy         7
an            7
Daisy         7
Bailey        7
Oscar         6
Jack          6
Scout         6
Koda          6
Bella         6
Stanley       6
Milo          6
Rusty         6
Jax           6
Dave          6
Leo           6
Finn          5
           ...
Aubie         1
Murphy        1
Howie         1
Bloo          1
Freddery      1
Bertson       1
Rufio         1
Fillup        1
Zeek          1
Devón         1
Stormy        1
Furzey        1
Ember         1
Willem        1
Diogi         1
Walker        1
Covach        1
Chesney       1
Terrenth      1
Billl         1
Stuart        1
Harry         1
Kara          1
Holly         1
Jeffri        1
Steve         1
Spencer       1
Bradley       1
Mingus        1
Lugan         1
Name: name, Length: 957, dtype: int64

In [57]:
# Check duplicated
tweet_df[tweet_df.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [101]:
# Check tweet_id duplicated
tweet_df[tweet_df.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [33]:
# check how many tweet_id doens't match with the expanded_urls tweet_id
url_df = tweet_df.copy()[['tweet_id', 'expanded_urls']]
url_df.head()

             tweet_id                                      expanded_urls
0  892420643555336193  https://twitter.com/dog_rates/status/892420643...
1  892177421306343426  https://twitter.com/dog_rates/status/892177421...
2  891815181378084864  https://twitter.com/dog_rates/status/891815181...
3  891689557279858688  https://twitter.com/dog_rates/status/891689557...
4  891327558926688256  https://twitter.com/dog_rates/status/891327558...

In [41]:
# Extract the number from the expanded_urls
url_df['url_tweet_id'] = url_df.expanded_urls.str.extract(r'(\d+)')

In [44]:
url_df[url_df['url_tweet_id'].isnull()]

,tweet_id,expanded_urls,url_tweet_id
30,886267009285017600,NaN,NaN
55,881633300179243008,NaN,NaN
64,879674319642796034,NaN,NaN
113,870726314365509632,NaN,NaN
148,863427515083354112,NaN,NaN
179,857214891891077121,NaN,NaN
185,856330835276025856,NaN,NaN
186,856288084350160898,NaN,NaN
188,855862651834028034,NaN,NaN
189,855860136149123072,NaN,NaN
218,850333567704068097,NaN,NaN
228,848213670039564288,NaN,NaN
234,847617282490613760,NaN,NaN
274,840698636975636481,NaN,NaN
290,838150277551247360,NaN,NaN
291,838085839343206401,NaN,NaN
313,835246439529840640,NaN,NaN
342,832088576586297345,NaN,NaN
346,831926988323639298,NaN,NaN
375,828361771580813312,NaN,NaN
387,826598799820865537,NaN,NaN
409,823333489516937216,NaN,NaN
427,821153421864615936,NaN,NaN
498,813130366689148928,NaN,NaN
513,811647686436880384,NaN,NaN
570,801854953262350336,NaN,NaN
576,800859414831898624,NaN,NaN
611,797165961484890113,NaN,NaN
655,791784077045166082,"https://vine.co/v/iqMjlxULzbn,https://vine.co/...",NaN
692,787111942498508800,"https://vine.co/v/OEppMFbejFz,https://vine.co/...",NaN
...,...,...,...
1369,702332542343577600,https://vine.co/v/irlDujgwOjd,NaN
1409,699060279947165696,https://vine.co/v/inlmMHxtqDD,NaN
1445,696518437233913856,NaN,NaN
1446,696490539101908992,NaN,NaN
1466,694342028726001664,https://vine.co/v/iJWKejYdLlh,NaN
1474,693644216740769793,NaN,NaN
1479,693582294167244802,NaN,NaN
1497,692423280028966913,NaN,NaN
1523,690607260360429569,NaN,NaN
1592,686394059078897668,https://vine.co/v/iMqBebnOvav,NaN
1598,686035780142297088,NaN,NaN
1605,685681090388975616,NaN,NaN
1618,684969860808454144,NaN,NaN
1650,683515932363329536,https://vine.co/v/ibvnzrauFuV,NaN
1663,682808988178739200,NaN,NaN
1676,682088079302213632,https://vine.co/v/iqMjlxULzbn,NaN
1689,681340665377193984,NaN,NaN
1743,679405845277462528,https://vine.co/v/iKVFEigMLxP,NaN
1774,678023323247357953,NaN,NaN
1818,676593408224403456,https://vine.co/v/eEQQaPFbgOY,NaN
1819,676590572941893632,NaN,NaN
1844,675849018447167488,NaN,NaN
1895,674742531037511680,NaN,NaN
1905,674606911342424069,NaN,NaN
1914,674330906434379776,NaN,NaN
1940,673716320723169284,NaN,NaN
2038,671550332464455680,NaN,NaN
2149,669684865554620416,NaN,NaN
2189,668967877119254528,NaN,NaN
2298,667070482143944705,NaN,NaN

**image_df**

In [41]:
image_df.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1396,767884188863397888,https://pbs.twimg.com/media/CqgSl4DWcAA-x-o.jpg,3,coral_reef,0.327740,False,cliff,0.157182,False,lakeside,0.048810,False
1739,822462944365645825,https://pbs.twimg.com/media/C2n5rUUXEAIXAtv.jpg,3,Pomeranian,0.960199,True,Samoyed,0.023056,True,Maltese_dog,0.008945,True
412,673919437611909120,https://pbs.twimg.com/media/CVo-JuMWwAAet6F.jpg,1,jack-o'-lantern,0.172079,False,schipperke,0.115984,True,miniature_pinscher,0.052175,True
1627,804413760345620481,https://pbs.twimg.com/media/CuRDF-XWcAIZSer.jpg,1,chow,0.090341,True,binoculars,0.083499,False,Irish_setter,0.077456,True
705,684940049151070208,https://pbs.twimg.com/media/CYFlVUFWwAAEsWX.jpg,2,Border_collie,0.665578,True,collie,0.176846,True,Old_English_sheepdog,0.065175,True

In [42]:
image_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [46]:
image_df.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [54]:
# Check the prediction values
pd.concat([image_df.p1, image_df.p2, image_df.p3]).value_counts()

golden_retriever                  290
Labrador_retriever                283
Chihuahua                         185
Pembroke                          143
Cardigan                          115
Pomeranian                        109
toy_poodle                        105
pug                                97
chow                               96
cocker_spaniel                     95
French_bulldog                     93
Chesapeake_Bay_retriever           91
Eskimo_dog                         83
beagle                             77
kuvasz                             76
Siberian_husky                     72
Samoyed                            70
Staffordshire_bullterrier          70
malamute                           69
Pekinese                           63
kelpie                             62
American_Staffordshire_terrier     58
miniature_pinscher                 57
Great_Pyrenees                     55
miniature_poodle                   54
collie                             51
seat_belt                          49
Italian_greyhound                  49
German_shepherd                    49
Shetland_sheepdog                  48
                                 ...
turnstile                           1
kimono                              1
mountain_tent                       1
solar_dish                          1
guillotine                          1
sandal                              1
harp                                1
plunger                             1
breastplate                         1
stinkhorn                           1
bullfrog                            1
mitten                              1
military_uniform                    1
mortarboard                         1
spotted_salamander                  1
police_van                          1
chain                               1
hair_slide                          1
chest                               1
buckeye                             1
joystick                            1
academic_gown                       1
radio_telescope                     1
candle                              1
pop_bottle                          1
waffle_iron                         1
sulphur-crested_cockatoo            1
siamang                             1
teapot                              1
chime                               1
Length: 634, dtype: int64

In [61]:
# Check duplicated
image_df[image_df.duplicated()]

Empty DataFrame
Columns: [tweet_id, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

In [107]:
# Check tweet_id duplicated
image_df[image_df.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

**api_df**

In [19]:
api_df.tail(5)

,tweet_id,retweet_count,favorite_count,expanded_url
2326,666049248165822465,39,96,https://twitter.com/dog_rates/status/666049248...
2327,666044226329800704,132,271,https://twitter.com/dog_rates/status/666044226...
2328,666033412701032449,41,112,https://twitter.com/dog_rates/status/666033412...
2329,666029285002620928,42,121,https://twitter.com/dog_rates/status/666029285...
2330,666020888022790149,461,2411,https://twitter.com/dog_rates/status/666020888...

In [20]:
api_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 4 columns):
tweet_id          2331 non-null int64
retweet_count     2331 non-null int64
favorite_count    2331 non-null int64
expanded_url      2059 non-null object
dtypes: int64(3), object(1)
memory usage: 72.9+ KB

In [21]:
api_df.describe()

           tweet_id  retweet_count  favorite_count
count  2.331000e+03    2331.000000     2331.000000
mean   7.419079e+17    2703.425997     7555.709567
std    6.823170e+16    4571.240603    11730.108298
min    6.660209e+17       1.000000        0.000000
25%    6.782670e+17     546.500000     1318.000000
50%    7.182469e+17    1267.000000     3283.000000
75%    7.986692e+17    3142.000000     9255.000000
max    8.924206e+17   77776.000000   156184.000000

In [22]:
# Check duplicated
api_df[api_df.duplicated()]

Empty DataFrame
Columns: [tweet_id, retweet_count, favorite_count, expanded_url]
Index: []

In [108]:
# Check tweet_id duplicated
api_df[api_df.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, retweet_count, favorite_count, expanded_url]
Index: []

#### 3. Tidiness issues

Following to this article **([Tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html))** tidy data is a standard way of mapping of a dataset to its structure. A dataset is messy or tidy depending on how rows, columns and tables are matched up with observations, variables and types. Tidy data follows 3 rules.

1. Each variable forms a column
2. Each observation forms a row
3. Each type of observational unit forms a table

**5 most common tidiness issues**

1. Column headers are values, not variable names
2. Multiple variables are stored in one column
3. Variables are stored in both rows and columns
4. Multiple types of observational units are stored in the same table
5. A single observational unit is stored in multiple tables

- `tweet_df`, `image_df`, `api_df` are single observational unit as a tweet so should be in one table
- `tweet_df`'s **text** column has multiple variables
- `image_df` has 4 variables in 9 columns (order, prediction, confidence, is_dog)

#### 4. Quality issues

Data quality is related to content. If there is issues with content we say dirty data. It could be inaccurate, corrupted, or duplicted data. We can consider **Data quality dimensions** when we deal with qualtiy issues.

**Data quality dimensions**
- **`Completeness`** : Do we have all of the records that we should? Do we have missing records or not? Are there specific rows, columns, or cells missing?
- **`Validity`** : We have the records, but they're not valid, i.e., they don't conform to a defined schema. A schema is a defined set of rules for data. These rules can be real-world constraints (e.g. negative height is impossible) and table-specific constraints (e.g. unique key contraints in tables).
- **`Accuracy`** : Inaccurate data is wrong data that is valid. It adheres to the defined schema, but it is still incorrect. (e.g. A patients weight that is 5 lbs too heavy because the scale was faulty.)
- **`Consistency`** : Inconsistent data is both valid and accurate, but there are multiple correct ways of referring to the same thing. Consistency, i.e., a standard format, in columns that represent the same data across tables and/or within tables is desired.


**`tweet_df`**
- `text` column has duplicated value with `expanded_url`, `rating_numerator`, `rating_denominator`.
- `retweeted_status_id`, `retweeted_status_user_id` is same with `in_reply_to_status_id`, `in_reply_to_user_id`
- column `source` includes HTML formatted information
- Erroneous datatypes (timestamp, source, retweeted_status_timestamp, doggo, floofer, pupper, puppo)
- `name` column has inconsistent name format. Some includes uppercase but some doesn't
- `expanded_urls` has missing values
- `tweet_id` doesn't match with the `expanded_urls`'s **tweet_id** and `url` is repeated several times delimited with `,`
- some `tweet_id` is invalid
- **NULL** is represented as `None` in `name`, `doggo`, `floofer`, `pupper`, `puppo` columns
- `doggo`, `floofer`, `pupper`, `puppo` columns save the value as the variable name(e.g. doggo column include `doggo` value when the dog is applicable) itself rather then `yes` or `1`
- `rating_numerator` and `rating_denominator` has inaccurate values

**`image_df`**
- `p1`, `p2`, `p3` columns format is not consistent. The lowercase and uppercase is mixed without consistent and `-`, `_` is used both as delimiter

**`api_df`**
- Missing records (2331 instead of 2356)

### C. Cleaning data ✅

> **We now know the tidiness and quality issues of our datasets and now we are going to fix it to make the master dataset**

1. Missing data
2. Tidiness
3. Quality

**The format of cleaning**
1. Define
2. Code
3. Test

**Caveat**

The issues were chosen while working on **Assesing data** session so we are brining the issues right away from it. So even we made a new copy of tables which is named as `tweet_clean`, `image_clean`, `api_clean` the issues will be mentioning about `tweet_df`, `image_df`, `api_df`. This might be confusing so be aware of this. I did it by intent to make consistency with the **Assessing data** session. But the ***Define*** will correctly mention what table to modify.

In [327]:
# Generate 3 dataframe for each csv files
tweet_df = pd.read_csv('twitter-archive-enhanced.csv')
image_df = pd.read_csv('image-predictions.csv')
api_df = pd.read_csv('tweet-api.csv')

In [328]:
# copy of original data
tweet_clean = tweet_df.copy()
image_clean = image_df.copy()
api_clean = api_df.copy()

#### 1. Missing data

- `api_df` Missing records (2331 instead of 2356)
- `tweet_df`'s `expanded_urls` has missing values
- some `tweet_id` is invalid
> **Even this is not an missing data issue this is the most important column of all so we have to fix this column for the rest of the cleaning**

##### `api_df` Missing records (2331 instead of 2356)
##### some `tweet_id` is invalid

***Define***

We will check the `failed_dict` to find out which tweet failed to load the information and check is it possible to achieve still. By merging with `tweet_df` we could get `url` to check is the tweet still exist or not. If so then download it manually and add the information to the `api_df`. Also we will fix the invalid `tweet_id` of all the tables for the sake of comfortable cleaning. After the `tweet_id` is all valid we will fill the 25 missing records of `api_df` by using **tweepy** again and if the value is still missing we will gonna fill it wil `np.nan`

***Code***

In [329]:
# Load the api_failed.pkl
with open('api_failed.pkl', 'rb') as f:
    failed_dict = pickle.load(f)
print(failed_dict)

{888202515573088257: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 873697596434513921: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 872668790621863937: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 872261713294495745: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 869988702071779329: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 866816280283807744: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 861769973181624320: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 856602993587888130: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 851953902622658560: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 845459076796616705: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 844704788403113984: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 842892208864923648: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 837366284874571778: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 837012587749474308: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 829374341691346946: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 827228250799742977: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 812747805718642688: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 802247111496568832: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 779123168116150273: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 775096608509886464: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 771004394259247104: TweepError([{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}],), 770743923962707968: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 759566828574212096: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 754011816964026368: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), 680055455951884288: TweepError([{'code': 144, 'message': 'No status found with that ID.'}],)}

In [330]:
# Store the tweet ids to the list
failed_tweet_ids = list(failed_dict.keys())
print('total amount of failed response of getting tweet information is {}'.format(len(failed_tweet_ids)))

total amount of failed response of getting tweet information is 25

In [331]:
# Generate pandas datafrome
missing_df = pd.DataFrame(failed_tweet_ids, columns=['tweet_id'])

# merge with the tweet_df to get information of url
missing_urls_df = pd.merge(missing_df, tweet_clean, how='left', on='tweet_id')[['tweet_id', 'expanded_urls', 'rating_numerator', 'name']]

In [332]:
# check the urls
for i in range(25):
    print(missing_urls_df.tweet_id[i])
    print(missing_urls_df.expanded_urls[i])

888202515573088257
https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1
873697596434513921
https://twitter.com/dog_rates/status/868880397819494401/photo/1,https://twitter.com/dog_rates/status/868880397819494401/photo/1
872668790621863937
https://twitter.com/loganamnosis/status/872657584259551233/photo/1
872261713294495745
https://twitter.com/dog_rates/status/872261713294495745/photo/1,https://twitter.com/dog_rates/status/872261713294495745/photo/1
869988702071779329
https://twitter.com/dog_rates/status/859196978902773760/video/1
866816280283807744
https://twitter.com/dog_rates/status/866450705531457537/photo/1,https://twitter.com/dog_rates/status/866450705531457537/photo/1
861769973181624320
https://twitter.com/dog_rates/status/806629075125202948/photo/1,https://twitter.com/dog_rates/status/806629075125202948/photo/1,https://twitter.com/dog_rates/status/806629075125202948/photo/1,https://twitter.com/dog_rates/status/806629075125202948/photo/1
856602993587888130
https://twitter.com/dog_rates/status/844704788403113984/photo/1
851953902622658560
https://twitter.com/dog_rates/status/829374341691346946/photo/1,https://twitter.com/dog_rates/status/829374341691346946/photo/1,https://twitter.com/dog_rates/status/829374341691346946/photo/1,https://twitter.com/dog_rates/status/829374341691346946/photo/1
845459076796616705
https://twitter.com/dog_rates/status/756288534030475264/photo/1,https://twitter.com/dog_rates/status/756288534030475264/photo/1,https://twitter.com/dog_rates/status/756288534030475264/photo/1,https://twitter.com/dog_rates/status/756288534030475264/photo/1
844704788403113984
https://twitter.com/dog_rates/status/844704788403113984/photo/1
842892208864923648
https://twitter.com/dog_rates/status/807106840509214720/video/1,https://twitter.com/dog_rates/status/807106840509214720/video/1
837366284874571778
https://twitter.com/dog_rates/status/837366284874571778/photo/1
837012587749474308
https://twitter.com/KennyFromDaBlok/status/837011344666812416/photo/1,https://twitter.com/KennyFromDaBlok/status/837011344666812416/photo/1
829374341691346946
https://twitter.com/dog_rates/status/829374341691346946/photo/1,https://twitter.com/dog_rates/status/829374341691346946/photo/1
827228250799742977
https://twitter.com/dog_rates/status/694669722378485760/photo/1,https://twitter.com/dog_rates/status/694669722378485760/photo/1
812747805718642688
https://twitter.com/dog_rates/status/680055455951884288/photo/1
802247111496568832
https://twitter.com/dog_rates/status/779056095788752897/photo/1,https://twitter.com/dog_rates/status/779056095788752897/photo/1,https://twitter.com/dog_rates/status/779056095788752897/photo/1,https://twitter.com/dog_rates/status/779056095788752897/photo/1
779123168116150273
https://twitter.com/dog_rates/status/779123168116150273/photo/1
775096608509886464
https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1
771004394259247104
https://twitter.com/katieornah/status/771002130450743296/photo/1,https://twitter.com/katieornah/status/771002130450743296/photo/1
770743923962707968
https://twitter.com/dog_rates/status/739238157791694849/video/1
759566828574212096
https://twitter.com/dog_rates/status/739544079319588864/photo/1,https://twitter.com/dog_rates/status/739544079319588864/photo/1
754011816964026368
https://twitter.com/dog_rates/status/754011816964026368/photo/1,https://twitter.com/dog_rates/status/754011816964026368/photo/1
680055455951884288
https://twitter.com/dog_rates/status/680055455951884288/photo/1

We could see that the `tweet_df` has quality issues in `expanded_urls` column.
1. The `tweet_id` doesn't match with the `url`'s **tweet_id**
2. Url is repeated several times delimited with `,`

This problem will be added to assess session. At here we will clean the 25 expanded_urls quality to find the problem.

In [333]:
# clean the expanded_urls of missing_urls_df
missing_urls_df.expanded_urls = missing_urls_df.expanded_urls.str.split(',').str[0]

**We are going to check manually here**

888202515573088257
https://twitter.com/dog_rates/status/887473957103951883/photo/1 $\rightarrow$ **tweet_id** wrong<br>
873697596434513921
https://twitter.com/dog_rates/status/868880397819494401/photo/1 $\rightarrow$ **tweet_id** wrong<br>
872668790621863937
https://twitter.com/loganamnosis/status/872657584259551233/photo/1 $\rightarrow$ **tweet_id** wrong / hidden tweet<br>
872261713294495745
https://twitter.com/dog_rates/status/872261713294495745/photo/1 $\rightarrow$ hidden tweet<br>
869988702071779329
https://twitter.com/dog_rates/status/859196978902773760/video/1 $\rightarrow$ **tweet_id** wrong<br>
866816280283807744
https://twitter.com/dog_rates/status/866450705531457537/photo/1 $\rightarrow$ **tweet_id** wrong<br>
861769973181624320
https://twitter.com/dog_rates/status/806629075125202948/photo/1 $\rightarrow$ **tweet_id** wrong<br>
856602993587888130
https://twitter.com/dog_rates/status/844704788403113984/photo/1 $\rightarrow$ **tweet_id** wrong / hidden tweet<br>
851953902622658560
https://twitter.com/dog_rates/status/829374341691346946/photo/1 $\rightarrow$ **tweet_id** wrong / hidden tweet<br>
845459076796616705
https://twitter.com/dog_rates/status/756288534030475264/photo/1 $\rightarrow$ **tweet_id** wrong<br>
844704788403113984
https://twitter.com/dog_rates/status/844704788403113984/photo/1 $\rightarrow$ hidden tweet<br>
842892208864923648
https://twitter.com/dog_rates/status/807106840509214720/video/1 $\rightarrow$ **tweet_id** wrong<br>
837366284874571778
https://twitter.com/dog_rates/status/837366284874571778/photo/1 $\rightarrow$ hidden tweet<br>
837012587749474308
https://twitter.com/KennyFromDaBlok/status/837011344666812416/photo/1 $\rightarrow$ hidden tweet<br>
829374341691346946
https://twitter.com/dog_rates/status/829374341691346946/photo/1 $\rightarrow$ hidden tweet<br>
827228250799742977
https://twitter.com/dog_rates/status/694669722378485760/photo/1 $\rightarrow$ **tweet_id** wrong<br>
812747805718642688
https://twitter.com/dog_rates/status/680055455951884288/photo/1 $\rightarrow$ **tweet_id** wrong / hidden tweet<br>
802247111496568832
https://twitter.com/dog_rates/status/779056095788752897/photo/1 $\rightarrow$ **tweet_id** wrong<br>
779123168116150273
https://twitter.com/dog_rates/status/779123168116150273/photo/1 $\rightarrow$ hidden tweet<br>
775096608509886464
https://twitter.com/dog_rates/status/740373189193256964/photo/1 $\rightarrow$ **tweet_id** wrong<br>
771004394259247104
https://twitter.com/katieornah/status/771002130450743296/photo/1 $\rightarrow$ **tweet_id** wrong / hidden tweet<br>
770743923962707968
https://twitter.com/dog_rates/status/739238157791694849/video/1 $\rightarrow$ **tweet_id** wrong<br>
759566828574212096
https://twitter.com/dog_rates/status/739544079319588864/photo/1 $\rightarrow$ **tweet_id** wrong<br>
754011816964026368
https://twitter.com/dog_rates/status/754011816964026368/photo/1 $\rightarrow$ hidden tweet<br>
680055455951884288
https://twitter.com/dog_rates/status/680055455951884288/photo/1 $\rightarrow$ hidden tweet<br>

In [334]:
missing_urls_df

,tweet_id,expanded_urls,rating_numerator,name
0,888202515573088257,https://twitter.com/dog_rates/status/887473957...,13,Canela
1,873697596434513921,https://twitter.com/dog_rates/status/868880397...,14,Walter
2,872668790621863937,https://twitter.com/loganamnosis/status/872657...,14,None
3,872261713294495745,https://twitter.com/dog_rates/status/872261713...,13,Harry
4,869988702071779329,https://twitter.com/dog_rates/status/859196978...,12,quite
5,866816280283807744,https://twitter.com/dog_rates/status/866450705...,13,Jamesy
6,861769973181624320,https://twitter.com/dog_rates/status/806629075...,13,None
7,856602993587888130,https://twitter.com/dog_rates/status/844704788...,13,Luna
8,851953902622658560,https://twitter.com/dog_rates/status/829374341...,13,Astrid
9,845459076796616705,https://twitter.com/dog_rates/status/756288534...,12,None
10,844704788403113984,https://twitter.com/dog_rates/status/844704788...,13,Luna
11,842892208864923648,https://twitter.com/dog_rates/status/807106840...,13,Stephan
12,837366284874571778,https://twitter.com/dog_rates/status/837366284...,13,Lucy
13,837012587749474308,https://twitter.com/KennyFromDaBlok/status/837...,14,None
14,829374341691346946,https://twitter.com/dog_rates/status/829374341...,13,Astrid
15,827228250799742977,https://twitter.com/dog_rates/status/694669722...,12,Phil
16,812747805718642688,https://twitter.com/dog_rates/status/680055455...,10,Sammy
17,802247111496568832,https://twitter.com/dog_rates/status/779056095...,13,None
18,779123168116150273,https://twitter.com/dog_rates/status/779123168...,12,Reggie
19,775096608509886464,https://twitter.com/dog_rates/status/740373189...,9,None
20,771004394259247104,https://twitter.com/katieornah/status/77100213...,12,None
21,770743923962707968,https://twitter.com/dog_rates/status/739238157...,13,None
22,759566828574212096,https://twitter.com/dog_rates/status/739544079...,10,None
23,754011816964026368,https://twitter.com/dog_rates/status/754011816...,12,Charlie
24,680055455951884288,https://twitter.com/dog_rates/status/680055455...,10,Sammy

We can see **17 tweet id** is wrong!!! We checked that the ids inside the `expanded_url` is correct so we will replace wrong `tweet_id` to the **tweet id** located inside the `expanded_url` for every table

In [335]:
# Extract the number from the expanded_urls
missing_urls_df['url_tweet_id'] = missing_urls_df.expanded_urls.str.extract(r'(\d+)')

# make a list for before and after tweet_id
before_ids = list(missing_urls_df.tweet_id)
after_ids = list(missing_urls_df.url_tweet_id)

# generate dictionary
fix_id = {}

for before_id, after_id in zip(before_ids, after_ids):
    # Pass if the id is correct
    if int(before_id) == int(after_id):
        continue
    else:
        # convert to integer value because every table stores tweet_id as int64 datatype
        fix_id[int(before_id)] = int(after_id)

# check the dictionary
print(fix_id)

{888202515573088257: 887473957103951883, 873697596434513921: 868880397819494401, 872668790621863937: 872657584259551233, 869988702071779329: 859196978902773760, 866816280283807744: 866450705531457537, 861769973181624320: 806629075125202948, 856602993587888130: 844704788403113984, 851953902622658560: 829374341691346946, 845459076796616705: 756288534030475264, 842892208864923648: 807106840509214720, 837012587749474308: 837011344666812416, 827228250799742977: 694669722378485760, 812747805718642688: 680055455951884288, 802247111496568832: 779056095788752897, 775096608509886464: 740373189193256964, 771004394259247104: 771002130450743296, 770743923962707968: 739238157791694849, 759566828574212096: 739544079319588864}

**We are going to use `map` function to fix the `tweet_id` Series** in all table
- `tweet_clean`
- `image_clean`

In [336]:
def fix_tweet_id(tweet_id):
    '''
    tweet_id : The tweet id currently considering to fix
    fix_id : Dictionary that includes the information of id to fix
    '''
    fixed_id = fix_id.get(tweet_id, -1)
    
    # If the tweet id is valid return as given
    if fixed_id == -1:
        return tweet_id
    else:
        return fixed_id

In [337]:
# Fix the wrong tweet id
# api_df is not applied because it doesn't have the wrong tweet_id value
tweet_clean.tweet_id = tweet_clean.tweet_id.map(fix_tweet_id)
image_clean.tweet_id = image_clean.tweet_id.map(fix_tweet_id)

**Now we fixed the invalid tweet ids now we have to fill the missing api_clean values!**

We are going to use the **correct 25 tweet_id** to request information from twitter API

In [338]:
import tweepy
from tweepy import OAuthHandler
from timeit import default_timer as timer

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'tWwR3iZijD4QIrw24FVEzp1Sk'
consumer_secret = 'fwLghROhcFEGH5QgTTVud79JuWVAEjdaSz9CACX17wi0aoqnrF'
access_token = '1192944517-0lEdI2zcfd67WV16hyiMUigstpPZnHFKj2xlhQ8'
access_secret = 'qk3rdxkis1mCSMSzR24lVDZsoNWNkQpYICdQMOhx9TbLU'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# Use 25 tweet ids that was failed at the gathering session
tweet_ids = missing_urls_df.url_tweet_id.values

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('missing_tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

1: 887473957103951883
Success
2: 868880397819494401
Success
3: 872657584259551233
Fail
4: 872261713294495745
Fail
5: 859196978902773760
Success
6: 866450705531457537
Success
7: 806629075125202948
Success
8: 844704788403113984
Fail
9: 829374341691346946
Fail
10: 756288534030475264
Success
11: 844704788403113984
Fail
12: 807106840509214720
Success
13: 837366284874571778
Fail
14: 837011344666812416
Fail
15: 829374341691346946
Fail
16: 694669722378485760
Success
17: 680055455951884288
Fail
18: 779056095788752897
Success
19: 779123168116150273
Fail
20: 740373189193256964
Success
21: 771002130450743296
Fail
22: 739238157791694849
Success
23: 739544079319588864
Success
24: 754011816964026368
Fail
25: 680055455951884288
Fail
4.322712564999165
{'872657584259551233': TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), '872261713294495745': TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), '844704788403113984': TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), '829374341691346946': TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), '837366284874571778': TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), '837011344666812416': TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), '680055455951884288': TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), '779123168116150273': TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), '771002130450743296': TweepError([{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}],), '754011816964026368': TweepError([{'code': 144, 'message': 'No status found with that ID.'}],)}

In [339]:
# Read json datas one by one and generate pandas dataframe
with open('missing_tweet_json.txt', encoding='utf-8') as f:
    # Store line by line to list to iterate and remove the \n character using rstrip()
    lines = [line.rstrip() for line in f]
    
    observations = []
    for line in lines:
        # Convert string to json
        tweet_json = json.loads(line)
        
        # Use pretty printing for checking
        # This is only used when we are checking the entity!
        # print(json.dumps(tweet_json, indent=2))

        # parse id, retweet_count, favorite_count information
        tweet_id = tweet_json['id']
        retweet_count = tweet_json['retweet_count']
        favorite_count = tweet_json['favorite_count']
        
        # At the cleaning stage I found some problem with wrong expanded_urls
        # This information will be used to treat the problem
        try:
            expanded_url = tweet_json['entities']['media'][0]['expanded_url']
        except:
            expanded_url = tweet_json['user']['entities']['url']['urls'][0]['expanded_url']
            
        # Store observation row by row
        observations.append({'tweet_id': tweet_id,
                             'retweet_count': retweet_count,
                             'favorite_count': favorite_count,
                             'expanded_url': expanded_url})
    
    # Generate tweet_api dataframe
    missing_api = pd.DataFrame(observations, columns=['tweet_id',
                                                      'retweet_count',
                                                      'favorite_count',
                                                      'expanded_url'])

In [340]:
missing_api

,tweet_id,retweet_count,favorite_count,expanded_url
0,887473957103951883,16389,64411,https://twitter.com/dog_rates/status/887473957...
1,868880397819494401,13426,62032,https://twitter.com/dog_rates/status/868880397...
2,859196978902773760,28632,86463,https://twitter.com/dog_rates/status/859196978...
3,866450705531457537,32934,116330,https://twitter.com/dog_rates/status/866450705...
4,806629075125202948,35441,76135,https://twitter.com/dog_rates/status/806629075...
5,756288534030475264,17809,44143,https://twitter.com/dog_rates/status/756288534...
6,807106840509214720,56680,120533,https://twitter.com/dog_rates/status/807106840...
7,694669722378485760,14309,35644,https://twitter.com/dog_rates/status/694669722...
8,779056095788752897,4599,14971,https://twitter.com/dog_rates/status/779056095...
9,740373189193256964,13272,34883,https://twitter.com/dog_rates/status/740373189...
10,739238157791694849,57661,115260,https://twitter.com/dog_rates/status/739238157...
11,739544079319588864,21164,39339,https://twitter.com/dog_rates/status/739544079...

In [341]:
# Concat two data
api_clean = pd.concat([api_clean, missing_api])

**Even we add 12 data we still have 13 missing tweet that is hidden so cannot be accessed!**

Let's add this data as **NaN**

In [342]:
fails_dict

{'872657584259551233': tweepy.error.TweepError([{'code': 144,
                           'message': 'No status found with that ID.'}]),
 '872261713294495745': tweepy.error.TweepError([{'code': 144,
                           'message': 'No status found with that ID.'}]),
 '844704788403113984': tweepy.error.TweepError([{'code': 144,
                           'message': 'No status found with that ID.'}]),
 '829374341691346946': tweepy.error.TweepError([{'code': 144,
                           'message': 'No status found with that ID.'}]),
 '837366284874571778': tweepy.error.TweepError([{'code': 144,
                           'message': 'No status found with that ID.'}]),
 '837011344666812416': tweepy.error.TweepError([{'code': 144,
                           'message': 'No status found with that ID.'}]),
 '680055455951884288': tweepy.error.TweepError([{'code': 144,
                           'message': 'No status found with that ID.'}]),
 '779123168116150273': tweepy.error.TweepError([{'code': 144,
                           'message': 'No status found with that ID.'}]),
 '771002130450743296': tweepy.error.TweepError([{'code': 179,
                           'message': 'Sorry, you are not authorized to see this status.'}]),
 '754011816964026368': tweepy.error.TweepError([{'code': 144,
                           'message': 'No status found with that ID.'}])}

**What we can know here is that 13 missing values is now 10 left! It means we have a duplicated tweet id! After we fix the wrong tweet ids when we check duplicated tweet id at each table we can find that duplicated rows appears suddenly!**

In [343]:
# Check duplicated
tweet_clean[tweet_clean.tweet_id.duplicated()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
123,868880397819494401,NaN,NaN,2017-05-28 17:23:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Walter. He won't start hydrotherapy wi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/868880397...,14,10,Walter,None,None,None,None
135,866450705531457537,NaN,NaN,2017-05-22 00:28:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jamesy. He gives a kiss to every other...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/866450705...,13,10,Jamesy,None,None,pupper,None
169,859196978902773760,NaN,NaN,2017-05-02 00:04:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We only rate dogs. This is quite clearly a smo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/859196978...,12,10,quite,None,None,None,None
253,844704788403113984,NaN,NaN,2017-03-23 00:18:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Luna. It's her first time outside and ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/844704788...,13,10,Luna,None,None,None,None
363,829374341691346946,NaN,NaN,2017-02-08 17:00:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Astrid. She's a guide doggo in trainin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/829374341...,13,10,Astrid,doggo,None,None,None
534,807106840509214720,NaN,NaN,2016-12-09 06:17:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stephan. He just wants to help. 13/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/807106840...,13,10,Stephan,None,None,None,None
537,806629075125202948,NaN,NaN,2016-12-07 22:38:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Good afternoon class today we're going to lea...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/806629075...,13,10,None,None,None,None,None
751,779056095788752897,NaN,NaN,2016-09-22 20:33:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Everybody drop what you're doing and look at t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/779056095...,13,10,None,None,None,None,None
921,756288534030475264,NaN,NaN,2016-07-22 00:43:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a heartwarming scene of a single father...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/756288534...,12,10,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
1077,739544079319588864,NaN,NaN,2016-06-05 19:47:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Tyrannosaurus rex. We only rate d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/739544079...,10,10,None,None,None,None,None
1079,739238157791694849,NaN,NaN,2016-06-04 23:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a doggo blowing bubbles. It's downright...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/739238157...,13,10,None,doggo,None,None,None
1463,694669722378485760,NaN,NaN,2016-02-02 23:52:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phil. He's an important dog. Can contr...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/694669722...,12,10,Phil,None,None,None,None
1726,680055455951884288,NaN,NaN,2015-12-24 16:00:30 +0000,"<a href=""https://about.twitter.com/products/tw...","Meet Sammy. At first I was like ""that's a snow...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/680055455...,10,10,Sammy,None,None,None,None

In [344]:
# Check duplicated
tweet_clean.query('tweet_id == 887473957103951883')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,887473957103951883,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None

In [345]:
# Check duplicated
tweet_clean.query('tweet_id == 868880397819494401')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
95,868880397819494401,NaN,NaN,2017-06-11 00:25:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Walter. He won't start ...,8.688804e+17,4.196984e+09,2017-05-28 17:23:24 +0000,https://twitter.com/dog_rates/status/868880397...,14,10,Walter,None,None,None,None
123,868880397819494401,NaN,NaN,2017-05-28 17:23:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Walter. He won't start hydrotherapy wi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/868880397...,14,10,Walter,None,None,None,None

In [346]:
# Check duplicated
tweet_clean.query('tweet_id == 680055455951884288')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
506,680055455951884288,NaN,NaN,2016-12-24 19:52:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Sammy. At first I was like...,6.800555e+17,4.196984e+09,2015-12-24 16:00:30 +0000,https://twitter.com/dog_rates/status/680055455...,10,10,Sammy,None,None,None,None
1726,680055455951884288,NaN,NaN,2015-12-24 16:00:30 +0000,"<a href=""https://about.twitter.com/products/tw...","Meet Sammy. At first I was like ""that's a snow...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/680055455...,10,10,Sammy,None,None,None,None

In [347]:
# Check duplicated
image_clean[image_clean.duplicated()]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1349,739544079319588864,https://pbs.twimg.com/media/CkNjahBXAAQ2kWo.jpg,1,Labrador_retriever,0.967397,True,golden_retriever,0.016641,True,ice_bear,0.014858,False
1615,779056095788752897,https://pbs.twimg.com/media/Cs_DYr1XEAA54Pu.jpg,1,Chihuahua,0.721188,True,toy_terrier,0.112943,True,kelpie,0.053364,True
1864,807106840509214720,https://pbs.twimg.com/ext_tw_video_thumb/80710...,1,Chihuahua,0.505370,True,Pomeranian,0.120358,True,toy_terrier,0.077008,True
1903,829374341691346946,https://pbs.twimg.com/media/C4KHj-nWQAA3poV.jpg,1,Staffordshire_bullterrier,0.757547,True,American_Staffordshire_terrier,0.149950,True,Chesapeake_Bay_retriever,0.047523,True
1944,806629075125202948,https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg,2,Arabian_camel,0.366248,False,house_finch,0.209852,False,cocker_spaniel,0.046403,True
1992,868880397819494401,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,0.099984,True,printer,0.077130,False
2055,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True

In [348]:
# Check duplicated
image_clean.query('tweet_id == 739544079319588864')

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1188,739544079319588864,https://pbs.twimg.com/media/CkNjahBXAAQ2kWo.jpg,1,Labrador_retriever,0.967397,True,golden_retriever,0.016641,True,ice_bear,0.014858,False
1349,739544079319588864,https://pbs.twimg.com/media/CkNjahBXAAQ2kWo.jpg,1,Labrador_retriever,0.967397,True,golden_retriever,0.016641,True,ice_bear,0.014858,False

In [349]:
# Check duplicated
api_clean[api_clean.tweet_id.duplicated()]

,tweet_id,retweet_count,favorite_count,expanded_url
0,887473957103951883,16389,64411,https://twitter.com/dog_rates/status/887473957...
1,868880397819494401,13426,62032,https://twitter.com/dog_rates/status/868880397...
2,859196978902773760,28632,86463,https://twitter.com/dog_rates/status/859196978...
3,866450705531457537,32934,116330,https://twitter.com/dog_rates/status/866450705...
4,806629075125202948,35441,76135,https://twitter.com/dog_rates/status/806629075...
5,756288534030475264,17809,44143,https://twitter.com/dog_rates/status/756288534...
6,807106840509214720,56680,120533,https://twitter.com/dog_rates/status/807106840...
7,694669722378485760,14309,35644,https://twitter.com/dog_rates/status/694669722...
8,779056095788752897,4599,14971,https://twitter.com/dog_rates/status/779056095...
9,740373189193256964,13272,34883,https://twitter.com/dog_rates/status/740373189...
10,739238157791694849,57661,115260,https://twitter.com/dog_rates/status/739238157...
11,739544079319588864,21164,39339,https://twitter.com/dog_rates/status/739544079...

Well this was not our issues to be fixed and was not aware about it! But we will fix this issue right here because this is related to the **tweet_id** and this is importance has high priority!

In [350]:
# Remove duplicated rows
tweet_clean = tweet_clean[~tweet_clean.tweet_id.duplicated()]
image_clean = image_clean[~image_clean.tweet_id.duplicated()]
api_clean = api_clean[~api_clean.tweet_id.duplicated()]

In [351]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2341 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2341 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2341 non-null   object
 4   source                      2341 non-null   object
 5   text                        2341 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2282 non-null   object
 10  rating_numerator            2341 non-null   int64
 11  rating_denominator          2341 non-null   int64
 12  name                        2341 non-null   object
 13  doggo                       2341 non-null   object
 14  floofer                     2341 non-null   object
 15  pupper                      2341 non-null   object
 16  puppo                       2341 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 329.2+ KB

In [352]:
image_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2068 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2068 non-null   int64
 1   jpg_url   2068 non-null   object
 2   img_num   2068 non-null   int64
 3   p1        2068 non-null   object
 4   p1_conf   2068 non-null   float64
 5   p1_dog    2068 non-null   bool
 6   p2        2068 non-null   object
 7   p2_conf   2068 non-null   float64
 8   p2_dog    2068 non-null   bool
 9   p3        2068 non-null   object
 10  p3_conf   2068 non-null   float64
 11  p3_dog    2068 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 167.6+ KB

In [353]:
api_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2331 entries, 0 to 2330
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2331 non-null   int64
 1   retweet_count   2331 non-null   int64
 2   favorite_count  2331 non-null   int64
 3   expanded_url    2331 non-null   object
dtypes: int64(3), object(1)
memory usage: 91.1+ KB

After we remove the duplicate rows exactly 10 rows are missing for `api_clean` table compared to `tweet_clean` table! now let's fill the 10 rows!

In [354]:
hidden_ids = list(fails_dict.keys())

In [355]:
# Use missing_urls_df table to put the expanded_url information
observations = []
for i, hidden_id in enumerate(hidden_ids):
    observations.append({'tweet_id': hidden_id,
                         'retweet_count': np.nan,
                         'favorite_count': np.nan,
                         'expanded_url': missing_urls_df.query('url_tweet_id == @hidden_ids[{}]'.format(i)).expanded_urls.values[0]})
    
# Generate tweet_api dataframe
hidden_api = pd.DataFrame(observations, columns=['tweet_id',
                                                  'retweet_count',
                                                  'favorite_count',
                                                  'expanded_url'])

In [356]:
hidden_api

,tweet_id,retweet_count,favorite_count,expanded_url
0,872657584259551233,NaN,NaN,https://twitter.com/loganamnosis/status/872657...
1,872261713294495745,NaN,NaN,https://twitter.com/dog_rates/status/872261713...
2,844704788403113984,NaN,NaN,https://twitter.com/dog_rates/status/844704788...
3,829374341691346946,NaN,NaN,https://twitter.com/dog_rates/status/829374341...
4,837366284874571778,NaN,NaN,https://twitter.com/dog_rates/status/837366284...
5,837011344666812416,NaN,NaN,https://twitter.com/KennyFromDaBlok/status/837...
6,680055455951884288,NaN,NaN,https://twitter.com/dog_rates/status/680055455...
7,779123168116150273,NaN,NaN,https://twitter.com/dog_rates/status/779123168...
8,771002130450743296,NaN,NaN,https://twitter.com/katieornah/status/77100213...
9,754011816964026368,NaN,NaN,https://twitter.com/dog_rates/status/754011816...

In [357]:
# Concat two data
api_clean = pd.concat([api_clean, hidden_api])

In [358]:
# Change datatype of api_clean tweet_id from object to int64
api_clean.tweet_id = api_clean.tweet_id.astype(int)

# rename expanded_url to expanded_urls
api_clean.rename(columns={'expanded_url': 'expanded_urls'}, inplace=True)

***Test***

In [359]:
# check the number of tweet_id matches the tweet_clean and api_clean
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2341 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2341 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2341 non-null   object
 4   source                      2341 non-null   object
 5   text                        2341 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2282 non-null   object
 10  rating_numerator            2341 non-null   int64
 11  rating_denominator          2341 non-null   int64
 12  name                        2341 non-null   object
 13  doggo                       2341 non-null   object
 14  floofer                     2341 non-null   object
 15  pupper                      2341 non-null   object
 16  puppo                       2341 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 329.2+ KB

In [360]:
api_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2341 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2341 non-null   int64
 1   retweet_count   2331 non-null   float64
 2   favorite_count  2331 non-null   float64
 3   expanded_urls   2341 non-null   object
dtypes: float64(2), int64(1), object(1)
memory usage: 91.4+ KB

In [361]:
# check is there anything duplicated
tweet_clean[tweet_clean.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [362]:
api_clean[api_clean.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, retweet_count, favorite_count, expanded_urls]
Index: []

##### `tweet_clean`'s `expanded_urls` has missing values

***Define***

The `expanded_urls` has no missing value in `api_clean` table. We can simply replace `tweet_clean` table's `expanded_urls` column with `api_clean` table's `expanded_urls` column. At here we are going to fix tidiness issues partially too so rather then just replacing one `expanded_urls` column of `api_clean` we are going to drop the `tweet_clean`'s `expanded_urls` column and merge two table.

***Code***

In [363]:
# check the value tweet_clean
len(tweet_clean.query('expanded_urls != expanded_urls'))

59

In [364]:
# check the value of api_clean
len(api_clean.query('expanded_urls != expanded_urls'))

0

In [365]:
# drop the expanded_urls column at tweet_clean and merge with api_clean
# This is partially fixing the tidiness issue of below
tweet_clean.drop(columns=['expanded_urls'], inplace=True)

In [366]:
# merge with api_clean
tweet_clean = pd.merge(tweet_clean, api_clean, how='inner', on='tweet_id')

***Test***

In [367]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2341 entries, 0 to 2340
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2341 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2341 non-null   object
 4   source                      2341 non-null   object
 5   text                        2341 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   rating_numerator            2341 non-null   int64
 10  rating_denominator          2341 non-null   int64
 11  name                        2341 non-null   object
 12  doggo                       2341 non-null   object
 13  floofer                     2341 non-null   object
 14  pupper                      2341 non-null   object
 15  puppo                       2341 non-null   object
 16  retweet_count               2331 non-null   float64
 17  favorite_count              2331 non-null   float64
 18  expanded_urls               2341 non-null   object
dtypes: float64(6), int64(3), object(10)
memory usage: 365.8+ KB

In [368]:
tweet_clean.expanded_urls.value_counts()

https://blacklivesmatters.carrd.co                                 272
https://twitter.com/dog_rates/status/679158373988876288/photo/1      2
https://twitter.com/dog_rates/status/780601303617732608/photo/1      2
https://twitter.com/dog_rates/status/782969140009107456/photo/1      2
https://twitter.com/dog_rates/status/830583320585068544/photo/1      2
                                                                  ...
https://twitter.com/dog_rates/status/759099523532779520/photo/1      1
https://twitter.com/dog_rates/status/677334615166730240/photo/1      1
https://twitter.com/dog_rates/status/734912297295085568/photo/1      1
https://twitter.com/dog_rates/status/874057562936811520/photo/1      1
https://twitter.com/dog_rates/status/869772420881756160/photo/1      1
Name: expanded_urls, Length: 2011, dtype: int64

#### 2. Tidiness
- `tweet_df`, `image_df`, `api_df` are single observational unit as a tweet so should be in one table
- `tweet_df`'s `text` column has multiple variables<br>
- `image_df` has 4 variables in 9 columns (order, prediction, confidence, is_dog)

##### `tweet_df`'s `text` column has multiple variables<br>
> **This fix the below same issue in quality so the below issue won't be treated in quality**<br>
> `text` column has duplicated value with `expanded_url`, `rating_numerator`, `rating_denominator`.

We are also going to fix quality issue here
- `rating_numerator` and `rating_denominator` has inaccurate values

The reason is we are going to remove it from `text` and we can assume text has the correct ratings. So we are going to fill this `rating_numerator` and `rating_denominator` to correct values here before we remove ratings inside `text`.

***Define***

`tweet_clean` table `text` column has **`text`, `ratings`, `url`** information. We have **`ratings`, `url`** information in the **`ratings_numerator`, `ratings_denominator`, `expanded_urls`** column so we are going to remove every information except literally `text` using regex expression with **str.replace** 

- **`https.+`**$\rightarrow$**``** : Remove urls (e.g. https://t.co/IOAk9i4UvE)
- **`\d+\/\d+`**$\rightarrow$**``** : Remove ratings (e.g. 13/10)
- **`\s+`**$\rightarrow$**` `** : Make whitespaces occupy only 1 space
- **`str.rstrip`** : Remove the trailing whitespace

**In the meanwhile we are going to parse the `ratings` from `text` and refill the `ratings_numerator`, `ratings_denominator` columns**

***Code***

In [369]:
# check few text
tweet_clean.sample(10).text.values

array(['This is Tucker. He decided it was time to part ways with his favorite ball. We captured the emotional farewell on camera. 12/10 https://t.co/jTe7Y6P0HK',
       "Everybody stop what you're doing and watch these puppers enjoy summer. Both 13/10 https://t.co/wvjqSCN6iC",
       "Say hello to Sora. She's an Egyptian Pumpernickel. Mesmerizing af. 12/10 would bring home to mom https://t.co/PmTR4kxZkq",
       'Awesome dog here. Not sure where it is tho. Spectacular camouflage. Enjoys leaves. Not very soft. 5/10 still petable https://t.co/rOTOteKx4q',
       "Say hello to Cody. He's been to like 80 countries and is way more cultured than you. He wanted me to say that. 10/10 https://t.co/Iv3flDTpXu",
       "Meet Taco. He's a speckled Garnier Fructis. Loves to shadow box. Ears out of control. Friend clearly impressed 9/10 https://t.co/85X1GHohFr",
       'This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13/10 would risk a petting #BarkWeek https://t.co/dVPW0B0Mme',
       "This is Olaf. He's gotta be rare. Seems sturdy. Tail is floofy af. 12/10 would do whatever it takes to pet https://t.co/E9jaU59bh9",
       'This is Bernie. He just touched a boob for the first time. 10/10 https://t.co/whQKMygnK6',
       'This is Bell. She likes holding hands. 12/10 would definitely pet with other hand https://t.co/BXIuvkQO9b'],
      dtype=object)

What we can see here is the pattern is mostly repeated as **text** **ratings** **url**. But mixed still. We could first get rid of urls

In [370]:
# remove urls
tweet_clean.text = tweet_clean.text.str.replace(r'https.+', repl='')

**Its time to parse the ratings!**

In [381]:
# refill the correct values for ratings
tweet_clean.rating_numerator = tweet_clean.text.str.extract(r'(\d+\/\d+)')[0].str.split('/').str[0].astype(int)
tweet_clean.rating_denominator = tweet_clean.text.str.extract(r'(\d+\/\d+)')[0].str.split('/').str[1].astype(int)

In [382]:
# remove ratings
tweet_clean.text = tweet_clean.text.str.replace(r'\d+\/\d+', repl='')

# remove whitespaces occupy more than 2 and right strip the very right whitespace
tweet_clean.text = tweet_clean.text.str.replace(r'\s+', repl=' ').str.rstrip().values

***Test***

In [383]:
tweet_clean.text.sample(10).values

array(["Here's a puppo that seems to be on the fence about something haha no but seriously someone help her.",
       "Say hello to Pablo. He's one gorgeous puppo. A true . Click the link to see why Pablo requests your assistance",
       'We only rate dogs. Please stop sending in non-canines like this Alaskan Flop Turtle. This is very frustrating.',
       'This is Atlas. Swinging is his passion. would push all day',
       "This is Walker. He's a Butternut Khalifa. Appears fuzzy af. would hug for a ridiculous amount of time",
       'Wow. Armored dog here. Ready for battle. Face looks dangerous. Not very loyal. Lil dog on back havin a blast.',
       'This is Sadie. She got her holidays confused. damn it Sadie',
       "This is Bilbo. He's not emotionally prepared to enter the water. don't struggle Bilbo",
       'RIP Loki. Thank you for the good times. You will be missed by many.',
       "Here's a pupper with a piece of pizza. Two of everybody's favorite things in one photo."],
      dtype=object)

In [384]:
# Check is url still in text
tweet_clean.text.str.match(r'https').mean()

0.0

In [385]:
# Check is the rating still in text
tweet_clean.text.str.match(r'\d+\/\d+').mean()

0.0

In [386]:
# Check is there any NaN
tweet_clean.query('text != text')

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, retweet_count, favorite_count, expanded_urls]
Index: []

##### `image_df` has 4 variables in 9 columns (order, prediction, confidence, is_dog)

***Define***

`image_clean` table has 3 predictions. We cannot apply melt directly so we are going to split each predictions to 3 tables and `melt` each tables. After that we are going to **concat** the tables to be one

***Code***

In [387]:
# check the example
image_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [388]:
# Divide the table to 3 tables for each prediction
p1_df = image_clean[['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog']]
p2_df = image_clean[['tweet_id', 'jpg_url', 'img_num', 'p2', 'p2_conf', 'p2_dog']]
p3_df = image_clean[['tweet_id', 'jpg_url', 'img_num', 'p3', 'p3_conf', 'p3_dog']]

In [389]:
id_vars = ['tweet_id', 'jpg_url', 'img_num']
var_name = 'order'
value_name = 'prediction'

# melt each table
p1_df = pd.melt(p1_df, id_vars=id_vars + ['p1_conf', 'p1_dog'], var_name=var_name, value_name=value_name)
p2_df = pd.melt(p2_df, id_vars=id_vars + ['p2_conf', 'p2_dog'], var_name=var_name, value_name=value_name)
p3_df = pd.melt(p3_df, id_vars=id_vars + ['p3_conf', 'p3_dog'], var_name=var_name, value_name=value_name)

In [390]:
# rename p?_conf and p?_dog to confidence, is_dog for each table
p1_df.rename(columns={'p1_conf': 'confidence', 'p1_dog': 'is_dog'}, inplace=True)
p2_df.rename(columns={'p2_conf': 'confidence', 'p2_dog': 'is_dog'}, inplace=True)
p3_df.rename(columns={'p3_conf': 'confidence', 'p3_dog': 'is_dog'}, inplace=True)

In [391]:
# merge to one table
image_clean = pd.concat([p1_df, p2_df, p3_df])

***Test***

In [392]:
image_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6204 entries, 0 to 2067
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    6204 non-null   int64
 1   jpg_url     6204 non-null   object
 2   img_num     6204 non-null   int64
 3   confidence  6204 non-null   float64
 4   is_dog      6204 non-null   bool
 5   order       6204 non-null   object
 6   prediction  6204 non-null   object
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 345.3+ KB

In [393]:
image_clean.sample(5)

,tweet_id,jpg_url,img_num,confidence,is_dog,order,prediction
1495,783391753726550016,https://pbs.twimg.com/media/Ct8qn8EWIAAk9zP.jpg,4,0.011019,True,p3,keeshond
1950,864279568663928832,https://pbs.twimg.com/media/C_6JrWZVwAAHhCD.jpg,1,0.052237,True,p3,Staffordshire_bullterrier
1382,765669560888528897,https://pbs.twimg.com/media/CqA0XcYWAAAzltT.jpg,1,0.002415,True,p3,basset
117,668142349051129856,https://pbs.twimg.com/media/CUW37BzWsAAlJlN.jpg,1,0.918834,False,p1,Angora
297,671390180817915904,https://pbs.twimg.com/media/CVFBzpXVEAAHIOv.jpg,1,0.997673,False,p1,zebra

##### `tweet_df`, `image_df`, `api_df` are single observational unit as a tweet so should be in one table

***Define***

`tweet_clean` and `api_clean` is already merged. So we only have to merge `tweet_clean` and `image_clean`. Simply **left join** two table. We are using **left join** because `image_clean` doesn't have prediction for every tweet

***Code***

In [394]:
# merge tweet_clean with image_clean
tweet_clean = pd.merge(tweet_clean, image_clean, how='left', on='tweet_id')

***Test***

In [395]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   in_reply_to_status_id       124 non-null    float64
 2   in_reply_to_user_id         124 non-null    float64
 3   timestamp                   6477 non-null   object
 4   source                      6477 non-null   object
 5   text                        6477 non-null   object
 6   retweeted_status_id         359 non-null    float64
 7   retweeted_status_user_id    359 non-null    float64
 8   retweeted_status_timestamp  359 non-null    object
 9   rating_numerator            6477 non-null   int64
 10  rating_denominator          6477 non-null   int64
 11  name                        6477 non-null   object
 12  doggo                       6477 non-null   object
 13  floofer                     6477 non-null   object
 14  pupper                      6477 non-null   object
 15  puppo                       6477 non-null   object
 16  retweet_count               6449 non-null   float64
 17  favorite_count              6449 non-null   float64
 18  expanded_urls               6477 non-null   object
 19  jpg_url                     6204 non-null   object
 20  img_num                     6204 non-null   float64
 21  confidence                  6204 non-null   float64
 22  is_dog                      6204 non-null   object
 23  order                       6204 non-null   object
 24  prediction                  6204 non-null   object
dtypes: float64(8), int64(3), object(14)
memory usage: 1.3+ MB

In [396]:
tweet_clean.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,...,puppo,retweet_count,favorite_count,expanded_urls,jpg_url,img_num,confidence,is_dog,order,prediction
335,868552278524837888,NaN,NaN,2017-05-27 19:39:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Cooper. His expression is the sam...,NaN,NaN,NaN,12,...,None,1935.0,9567.0,https://twitter.com/dog_rates/status/868552278...,https://pbs.twimg.com/media/DA23sCeVoAE3uF0.jpg,1.0,0.275935,True,p2,Italian_greyhound
386,863553081350529029,NaN,NaN,2017-05-14 00:34:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Neptune. He's a backpup vocalist for t...,NaN,NaN,NaN,13,...,None,3937.0,14585.0,https://twitter.com/dog_rates/status/863553081...,https://pbs.twimg.com/ext_tw_video_thumb/86355...,1.0,0.149536,True,p3,Siberian_husky
2236,764857477905154048,NaN,NaN,2016-08-14 16:13:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Aubie. He has paws for days. Nibbling ...,NaN,NaN,NaN,12,...,None,1791.0,6499.0,https://twitter.com/dog_rates/status/764857477...,https://pbs.twimg.com/media/Cp1R0ZTWcAAaPO4.jpg,1.0,0.038374,True,p3,EntleBucher
982,827324948884643840,NaN,NaN,2017-02-03 01:16:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphie. He's being treated for an ove...,NaN,NaN,NaN,12,...,None,3080.0,15983.0,https://twitter.com/dog_rates/status/827324948...,https://pbs.twimg.com/media/C3s_pYrXAAA1eqZ.jpg,1.0,0.178884,True,p2,toy_poodle
4654,679736210798047232,NaN,NaN,2015-12-23 18:51:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This pup's name is Sabertooth (parents must be...,NaN,NaN,NaN,9,...,None,781.0,2080.0,https://twitter.com/dog_rates/status/679736210...,https://pbs.twimg.com/media/CW7oelWWcAAhyzz.jpg,1.0,0.154088,True,p2,Chihuahua
1083,822244816520155136,NaN,NaN,2017-01-20 00:50:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We only rate dogs. Please don't send pics of m...,NaN,NaN,NaN,11,...,None,10015.0,35342.0,https://twitter.com/dog_rates/status/822244816...,https://pbs.twimg.com/media/C2kzTGxWEAEOpPL.jpg,1.0,0.585441,True,p1,Samoyed
4284,685973236358713344,NaN,NaN,2016-01-09 23:55:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Lorelei. She's contemplating her exist...,NaN,NaN,NaN,11,...,None,521.0,2089.0,https://twitter.com/dog_rates/status/685973236...,https://pbs.twimg.com/media/CYURBGoWYAAKey3.jpg,1.0,0.118590,True,p3,malamute
6348,666739327293083650,NaN,NaN,2015-11-17 22:06:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Lugan. He is a Bohemian Rhapsody. Very...,NaN,NaN,NaN,10,...,None,62.0,223.0,https://twitter.com/dog_rates/status/666739327...,https://pbs.twimg.com/media/CUC74aTWoAInZey.jpg,1.0,0.546933,True,p1,miniature_poodle
3259,713411074226274305,NaN,NaN,2016-03-25 17:03:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we see an extremely rare Bearded Floofmal...,NaN,NaN,NaN,11,...,None,1287.0,4410.0,https://twitter.com/dog_rates/status/713411074...,https://pbs.twimg.com/media/CeaLlAPUMAIcC7U.jpg,1.0,0.720337,True,p1,Great_Pyrenees
4352,684594889858887680,NaN,NaN,2016-01-06 04:38:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""FOR THE LAST TIME I DON'T WANNA PLAY TWISTER ...",NaN,NaN,NaN,10,...,None,3485.0,8867.0,https://twitter.com/dog_rates/status/684594889...,https://pbs.twimg.com/media/CYAra7JWsAACPZH.jpg,1.0,0.035352,True,p2,English_setter

#### 3. Quality

✔️ : Already solved<br>
❌ : Not solved yet<br>
⭐ : Issue newly added while cleaning it up<br>

**`tweet_df`**
- ❌ ✅ `retweeted_status_id`, `retweeted_status_user_id` is same with `in_reply_to_status_id`, `in_reply_to_user_id`
- ❌ ✅ column `source` includes HTML formatted information
- ❌ ✅ Erroneous datatypes (timestamp, source, retweeted_status_timestamp, doggo, floofer, pupper, puppo)
- ❌ ✅ `name` column has inconsistent name format. Some includes uppercase but some doesn't
- ✔️ `tweet_id` doesn't match with the `expanded_urls`'s **tweet_id** and `url` is repeated several times delimited with `,`
- ✔️ some `tweet_id` is invalid
- ❌ ✅ **NULL** is represented as `None` in `name`, `doggo`, `floofer`, `pupper`, `puppo` columns
- ❌ ✅ `doggo`, `floofer`, `pupper`, `puppo` columns save the value as the variable name(e.g. doggo column include `doggo` value when the dog is applicable) itself rather then `yes` or `1`
- ✔️ `rating_numerator` and `rating_denominator` has inaccurate values
- ⭐ ✅ `retweeted_status_id` and `retweeted_status_user_id` datatype is float

**`image_df`**
- ❌ ✅ `p1`, `p2`, `p3` columns format is not consistent. The lowercase and uppercase is mixed without consistent and `-`, `_` is used both as delimiter
- ⭐ ✅ `img_num` column has **float** datatype
- ⭐ ✅ `order` column is object datatype with `p` prefix
- ⭐ ✅ `is_dog` column is object datatype

**`api_df`**
- ⭐ ✅ `retweet_count`, `favorite_count` columns has **float** datatype

In [441]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   datetime64[ns, UTC]
 2   source                      6477 non-null   category
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    Int64
 5   retweeted_status_user_id    483 non-null    Int64
 6   retweeted_status_timestamp  359 non-null    datetime64[ns, UTC]
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        4588 non-null   object
 10  doggo                       253 non-null    float64
 11  floofer                     26 non-null     float64
 12  pupper                      700 non-null    float64
 13  puppo                       78 non-null     float64
 14  retweet_count               6449 non-null   float64
 15  favorite_count              6449 non-null   float64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   Int64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   Int64
 21  order                       6204 non-null   Int64
 22  prediction                  6204 non-null   object
dtypes: Int64(5), category(1), datetime64[ns, UTC](2), float64(7), int64(3), object(5)
memory usage: 1.2+ MB

##### `tweet_df` table `retweeted_status_id`, `retweeted_status_user_id` is same with `in_reply_to_status_id`, `in_reply_to_user_id`

***Define***

Compare both information of `status_id` and `user_id` and combine two column to one. At here for consistency and readable way we are going to left **`retweeted`** naming and remove `in_reply_to_status_id` and `in_reply_to_user_id`

***Code***

In [397]:
# check is there duplicated status_id value for retweeted column and is_reply column
tweet_clean.query('retweeted_status_id == retweeted_status_id and in_reply_to_status_id == in_reply_to_status_id')

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, retweet_count, favorite_count, expanded_urls, jpg_url, img_num, confidence, is_dog, order, prediction]
Index: []

[0 rows x 25 columns]

In [398]:
# check is there duplicated user_id value for retweeted column and is_reply column
tweet_clean.query('retweeted_status_user_id == retweeted_status_user_id and in_reply_to_user_id == in_reply_to_user_id')

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, retweet_count, favorite_count, expanded_urls, jpg_url, img_num, confidence, is_dog, order, prediction]
Index: []

[0 rows x 25 columns]

**We can see that both two column has no duplicated data. So we could simply add this two column to one**

In [399]:
# Use fillna to fill the NaN value to 0 for adding two columns
retweet_status_id = tweet_clean.retweeted_status_id.fillna(0)
in_reply_status_id = tweet_clean.in_reply_to_status_id.fillna(0)

# After adding two column return 0 to NaN value
tweet_clean.retweeted_status_id = (retweet_status_id + in_reply_status_id).replace(0.0, np.nan)

In [400]:
# Use fillna to fill the NaN value to 0 for adding two columns
retweet_user_id = tweet_clean.retweeted_status_user_id.fillna(0)
in_reply_user_id = tweet_clean.in_reply_to_user_id.fillna(0)

# After adding two column return 0 to NaN value
tweet_clean.retweeted_status_user_id = (retweet_user_id + in_reply_user_id).replace(0.0, np.nan)

In [401]:
# drop unnecessary two in_reply columns
tweet_clean.drop(columns=['in_reply_to_status_id', 'in_reply_to_user_id'], inplace=True)

***Test***

We can see the `status_id` and `user_id` got added and become total 483 records

In [402]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   object
 2   source                      6477 non-null   object
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    float64
 5   retweeted_status_user_id    483 non-null    float64
 6   retweeted_status_timestamp  359 non-null    object
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        6477 non-null   object
 10  doggo                       6477 non-null   object
 11  floofer                     6477 non-null   object
 12  pupper                      6477 non-null   object
 13  puppo                       6477 non-null   object
 14  retweet_count               6449 non-null   float64
 15  favorite_count              6449 non-null   float64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   float64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   object
 21  order                       6204 non-null   object
 22  prediction                  6204 non-null   object
dtypes: float64(6), int64(3), object(14)
memory usage: 1.2+ MB

In [403]:
tweet_clean.query('retweeted_status_id == retweeted_status_id')

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,rating_denominator,name,...,puppo,retweet_count,favorite_count,expanded_urls,jpg_url,img_num,confidence,is_dog,order,prediction
57,887473957103951883,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,13,10,Canela,...,None,16402.0,64443.0,https://twitter.com/dog_rates/status/887473957...,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2.0,0.809197,True,p1,Pembroke
58,887473957103951883,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,13,10,Canela,...,None,16402.0,64443.0,https://twitter.com/dog_rates/status/887473957...,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2.0,0.054950,True,p2,Rhodesian_ridgeback
59,887473957103951883,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,13,10,Canela,...,None,16402.0,64443.0,https://twitter.com/dog_rates/status/887473957...,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2.0,0.038915,True,p3,beagle
87,886267009285017600,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,8.862664e+17,2.281182e+09,NaN,12,10,None,...,None,4.0,111.0,https://blacklivesmatters.carrd.co,NaN,NaN,NaN,NaN,NaN,NaN
91,886054160059072513,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Athletics: #BATP,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,12,10,None,...,None,100.0,0.0,https://blacklivesmatters.carrd.co,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6190,667550904950915073,2015-11-20 03:51:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Exceptional talent. Origi...,6.675487e+17,4.296832e+09,2015-11-20 03:43:06 +0000,12,10,None,...,None,33.0,0.0,https://twitter.com/dogratingrating/status/667...,https://pbs.twimg.com/media/CUOb_gUUkAACXdS.jpg,1.0,0.000069,True,p3,collie
6191,667550882905632768,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,5,10,None,...,None,32.0,0.0,https://twitter.com/dogratingrating/status/667...,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1.0,0.998258,False,p1,web_site
6192,667550882905632768,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,5,10,None,...,None,32.0,0.0,https://twitter.com/dogratingrating/status/667...,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1.0,0.000201,False,p2,dishwasher
6193,667550882905632768,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,5,10,None,...,None,32.0,0.0,https://twitter.com/dogratingrating/status/667...,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1.0,0.000142,False,p3,oscilloscope
6305,667070482143944705,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,6.670655e+17,4.196984e+09,NaN,10,10,None,...,None,14.0,80.0,https://blacklivesmatters.carrd.co,NaN,NaN,NaN,NaN,NaN,NaN

##### `retweeted_status_id` and `retweeted_status_user_id` datatype is float
##### `img_num` column has **float** datatype

Because the two issues are the same things we are fixing together<br>


***Define***

**Upgraded pandas `0.23.3` $\rightarrow$ `1.0.4`**<br>
- pd.Int64Dtype()
- pd.NA
- pd.array

Use `fillna` to 0 and use `astype` to fix it to integer. After that convert 0 to NaN again. And to make a integer series with null data we need `pd.array` with parameter `dtype` filled with `pd.Int64Dtype()`. Quite complicated.

***Code***

In [404]:
!pip show pandas

Name: pandas
Version: 1.0.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: /opt/conda/lib/python3.6/site-packages
Requires: python-dateutil, pytz, numpy
Required-by: vincent, seaborn, pymc3, altair

In [405]:
!pip install --upgrade pandas

Requirement already up-to-date: pandas in /opt/conda/lib/python3.6/site-packages (1.0.4)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /opt/conda/lib/python3.6/site-packages (from pandas) (2017.3)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /opt/conda/lib/python3.6/site-packages (from pandas) (1.18.4)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /opt/conda/lib/python3.6/site-packages (from pandas) (2.6.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.11.0)

In [406]:
import importlib

# reimport pandas after upgrade
importlib.reload(pd)

In [407]:
# Check the current pandas version
pd.__version__

'1.0.4'

In [408]:
# Convert datatype from float to integer
tweet_clean.retweeted_status_id = pd.array(tweet_clean.retweeted_status_id.fillna(0).astype(int).replace(0, np.nan).values, dtype=pd.Int64Dtype())
tweet_clean.retweeted_status_user_id = pd.array(tweet_clean.retweeted_status_user_id.fillna(0).astype(int).replace(0, np.nan).values, dtype=pd.Int64Dtype())
tweet_clean.img_num = pd.array(tweet_clean.img_num.fillna(0).astype(int).replace(0, np.nan).values, dtype=pd.Int64Dtype())

***Test***

In [409]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   object
 2   source                      6477 non-null   object
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    Int64
 5   retweeted_status_user_id    483 non-null    Int64
 6   retweeted_status_timestamp  359 non-null    object
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        6477 non-null   object
 10  doggo                       6477 non-null   object
 11  floofer                     6477 non-null   object
 12  pupper                      6477 non-null   object
 13  puppo                       6477 non-null   object
 14  retweet_count               6449 non-null   float64
 15  favorite_count              6449 non-null   float64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   Int64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   object
 21  order                       6204 non-null   object
 22  prediction                  6204 non-null   object
dtypes: Int64(3), float64(3), int64(3), object(14)
memory usage: 1.2+ MB

In [410]:
tweet_clean.sample(1)

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,rating_denominator,name,...,puppo,retweet_count,favorite_count,expanded_urls,jpg_url,img_num,confidence,is_dog,order,prediction
2,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,<NA>,<NA>,NaN,13,10,Phineas,...,None,7703.0,36188.0,https://twitter.com/dog_rates/status/892420643...,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,0.07611,False,p3,banana

In [411]:
tweet_clean[~tweet_clean.retweeted_status_id.isnull()].sample(5)

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,rating_denominator,name,...,puppo,retweet_count,favorite_count,expanded_urls,jpg_url,img_num,confidence,is_dog,order,prediction
1030,824796380199809024,2017-01-27 01:49:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bailey. She loves going...,795076730285391872,4196983835,2016-11-06 01:33:58 +0000,11,10,Bailey,...,None,5556.0,0.0,https://twitter.com/dog_rates/status/795076730...,https://pbs.twimg.com/media/CwiuEJmW8AAZnit.jpg,2,0.049995,False,p2,harvester
487,856330835276025856,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Jenna_Marbles: @dog_rates Thanks for ratin...,856330158768218112,66699013,2017-04-24 02:13:14 +0000,14,10,None,...,None,646.0,0.0,https://blacklivesmatters.carrd.co,NaN,<NA>,NaN,NaN,NaN,NaN
1292,813130366689148928,2016-12-25 21:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been informed by multiple sources that th...,813127251579564032,4196983835,NaN,12,10,None,...,None,456.0,4553.0,https://blacklivesmatters.carrd.co,NaN,<NA>,NaN,NaN,NaN,NaN
3562,704871453724954624,2016-03-02 03:30:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I found a forest Pipsy.,667152164079423488,4196983835,NaN,12,10,None,...,None,1109.0,4246.0,https://twitter.com/dog_rates/status/704871453...,https://pbs.twimg.com/media/Ccg02LiWEAAJHw1.jpg,1,0.689504,True,p1,Norfolk_terrier
3878,695767669421768709,2016-02-06 00:35:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",If you are aware of who is making these please...,675349384339542016,4196983835,NaN,13,10,None,...,None,743.0,1854.0,https://twitter.com/dog_rates/status/695767669...,https://pbs.twimg.com/media/CafdAWCW0AE3Igl.jpg,1,0.121662,True,p2,Lakeland_terrier

##### column `source` includes HTML formatted information

***Define***

We are going to parse only the `source` itself using **`str.extract`**, **`split`**, **`rstrip()`** and **`string indexing`**

***Code***

In [412]:
# Parse only the source
tweet_clean.source = tweet_clean.source.str.extract(r'(http.+\"\ )')[0].str.split('/').str[-1].str.rstrip().str[:-1]

***Test***

In [413]:
tweet_clean.source.value_counts()

iphone         6263
twitter.com      93
vine.co          91
tweetdeck        30
Name: source, dtype: int64

##### **NULL** is represented as `None` in `name`, `doggo`, `floofer`, `pupper`, `puppo` columns

***Define***

Replace `None` to NaN

***Code***

We first check the values inside the `name`, `doggo`, `floofer`, `pupper`, `puppo` columns

In [414]:
tweet_clean.name.value_counts()

None       1889
a           165
Charlie      34
Lucy         31
Oliver       31
           ...
Pherb         1
Ralphy        1
Sweets        1
Skittle       1
Ferg          1
Name: name, Length: 957, dtype: int64

In [415]:
tweet_clean.doggo.value_counts()

None     6224
doggo     253
Name: doggo, dtype: int64

In [416]:
tweet_clean.floofer.value_counts()

None       6451
floofer      26
Name: floofer, dtype: int64

In [417]:
tweet_clean.pupper.value_counts()

None      5777
pupper     700
Name: pupper, dtype: int64

In [418]:
tweet_clean.puppo.value_counts()

None     6399
puppo      78
Name: puppo, dtype: int64

In [419]:
# fill the rows with None to NaN
tweet_clean.name.replace('None', np.nan, inplace=True)
tweet_clean.doggo.replace('None', np.nan, inplace=True)
tweet_clean.floofer.replace('None', np.nan, inplace=True)
tweet_clean.pupper.replace('None', np.nan, inplace=True)
tweet_clean.puppo.replace('None', np.nan, inplace=True)

***Test***

In [420]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   object
 2   source                      6477 non-null   object
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    Int64
 5   retweeted_status_user_id    483 non-null    Int64
 6   retweeted_status_timestamp  359 non-null    object
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        4588 non-null   object
 10  doggo                       253 non-null    object
 11  floofer                     26 non-null     object
 12  pupper                      700 non-null    object
 13  puppo                       78 non-null     object
 14  retweet_count               6449 non-null   float64
 15  favorite_count              6449 non-null   float64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   Int64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   object
 21  order                       6204 non-null   object
 22  prediction                  6204 non-null   object
dtypes: Int64(3), float64(3), int64(3), object(14)
memory usage: 1.2+ MB

##### `doggo`, `floofer`, `pupper`, `puppo` columns save the value as the variable name(e.g. doggo column include `doggo` value when the dog is applicable) itself rather then `yes` or `1`

***Define***

Change every non-Null value at the `doggo`, `floofer`, `pupper`, `puppo` columns to **`1`**

***Code***

In [421]:
# Change doggo, floofer, pupper, puppo columns non-null value to 1
tweet_clean.doggo = tweet_clean.doggo.replace('doggo', 1)
tweet_clean.floofer = tweet_clean.floofer.replace('floofer', 1)
tweet_clean.pupper = tweet_clean.pupper.replace('pupper', 1)
tweet_clean.puppo = tweet_clean.puppo.replace('puppo', 1)

***Test***

In [422]:
tweet_clean.doggo.value_counts()

1.0    253
Name: doggo, dtype: int64

In [423]:
tweet_clean.floofer.value_counts()

1.0    26
Name: floofer, dtype: int64

In [424]:
tweet_clean.pupper.value_counts()

1.0    700
Name: pupper, dtype: int64

In [425]:
tweet_clean.puppo.value_counts()

1.0    78
Name: puppo, dtype: int64

##### `order` column is object datatype with `p` prefix

***Define***

Remove **p** `prefix` of `order` column and convert it to int datatype

***Code***

In [426]:
# Remove p prefix and convert to int dtype
tweet_clean.order = pd.array(tweet_clean.order.str[1:].fillna(0).astype('int64').replace(0, np.nan), dtype=pd.Int64Dtype())

***Test***

In [427]:
tweet_clean.order.value_counts()

1    2068
2    2068
3    2068
Name: order, dtype: Int64

In [428]:
# Check there is a null value
tweet_clean[tweet_clean.order.isnull()].head(1)

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,rating_denominator,name,...,puppo,retweet_count,favorite_count,expanded_urls,jpg_url,img_num,confidence,is_dog,order,prediction
87,886267009285017600,2017-07-15 16:51:35 +0000,iphone,@NonWhiteHat @MayhewMayhem omg hello tanner yo...,886266357075128320,2281181600,NaN,12,10,NaN,...,NaN,4.0,111.0,https://blacklivesmatters.carrd.co,NaN,<NA>,NaN,NaN,<NA>,NaN

##### `is_dog` column is object datatype

***Define***

Change the value `NaN` to **`-1`**, `True` to **`1`** and `False` to **`0`** and convert the dtype to integer. After fixing the `NaN` to **-1** when we apply `astype(int)` the `True` and `False` value will automatically converted to integer `1`, `0`, respectively. Because even it is indicated as `object` dtype it is actually `bool` dtype stored inside.

***Code***

In [429]:
# check the values
tweet_clean.is_dog.value_counts()

True     4568
False    1636
Name: is_dog, dtype: int64

In [430]:
# NaN -> -1
tweet_clean.is_dog.fillna(-1, inplace=True)

In [431]:
# True -> 1 False -> 0
tweet_clean.is_dog = pd.array(tweet_clean.is_dog.astype(int).replace(-1, np.nan), dtype=pd.Int64Dtype())

***Test***

In [432]:
tweet_clean.is_dog.value_counts()

1    4568
0    1636
Name: is_dog, dtype: Int64

In [433]:
# Check there is a null value
tweet_clean[tweet_clean.is_dog.isnull()].head(1)

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,rating_denominator,name,...,puppo,retweet_count,favorite_count,expanded_urls,jpg_url,img_num,confidence,is_dog,order,prediction
87,886267009285017600,2017-07-15 16:51:35 +0000,iphone,@NonWhiteHat @MayhewMayhem omg hello tanner yo...,886266357075128320,2281181600,NaN,12,10,NaN,...,NaN,4.0,111.0,https://blacklivesmatters.carrd.co,NaN,<NA>,NaN,<NA>,<NA>,NaN

##### Erroneous datatypes (timestamp, source, retweeted_status_timestamp, doggo, floofer, pupper, puppo)

***Define***

Convert the datatype

- **timestamp** : `object` $\rightarrow$ `datetime`
- **source** : `object` $\rightarrow$ `Category`
- **retweeted_status_timestamp** : `object` $\rightarrow$ `datetime`
- **doggo** : `object` $\rightarrow$ `int`
- **floofer** : `object` $\rightarrow$ `int`
- **pupper** : `object` $\rightarrow$ `int`
- **puppo** : `object` $\rightarrow$ `int`

In [438]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   object
 2   source                      6477 non-null   object
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    Int64
 5   retweeted_status_user_id    483 non-null    Int64
 6   retweeted_status_timestamp  359 non-null    object
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        4588 non-null   object
 10  doggo                       253 non-null    float64
 11  floofer                     26 non-null     float64
 12  pupper                      700 non-null    float64
 13  puppo                       78 non-null     float64
 14  retweet_count               6449 non-null   float64
 15  favorite_count              6449 non-null   float64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   Int64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   Int64
 21  order                       6204 non-null   Int64
 22  prediction                  6204 non-null   object
dtypes: Int64(5), float64(7), int64(3), object(8)
memory usage: 1.2+ MB

***Code***

In [440]:
# Datetime
tweet_clean.timestamp = pd.to_datetime(tweet_clean.timestamp)
tweet_clean.retweeted_status_timestamp = pd.to_datetime(tweet_clean.retweeted_status_timestamp)

# Category
tweet_clean.source = tweet_clean.source.astype('category')

# float to int
tweet_clean.doggo = pd.array(tweet_clean.doggo, dtype=pd.Int64Dtype())
tweet_clean.floofer = pd.array(tweet_clean.floofer, dtype=pd.Int64Dtype())
tweet_clean.pupper = pd.array(tweet_clean.pupper, dtype=pd.Int64Dtype())
tweet_clean.puppo = pd.array(tweet_clean.puppo, dtype=pd.Int64Dtype())

***Test***

In [443]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   datetime64[ns, UTC]
 2   source                      6477 non-null   category
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    Int64
 5   retweeted_status_user_id    483 non-null    Int64
 6   retweeted_status_timestamp  359 non-null    datetime64[ns, UTC]
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        4588 non-null   object
 10  doggo                       253 non-null    Int64
 11  floofer                     26 non-null     Int64
 12  pupper                      700 non-null    Int64
 13  puppo                       78 non-null     Int64
 14  retweet_count               6449 non-null   float64
 15  favorite_count              6449 non-null   float64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   Int64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   Int64
 21  order                       6204 non-null   Int64
 22  prediction                  6204 non-null   object
dtypes: Int64(9), category(1), datetime64[ns, UTC](2), float64(3), int64(3), object(5)
memory usage: 1.2+ MB

##### `retweet_count`, `favorite_count` columns has **float** datatype

***Define***

Convert `float` to `int`

***Code***

In [444]:
# float to int
tweet_clean.retweet_count = pd.array(tweet_clean.retweet_count, dtype=pd.Int64Dtype())
tweet_clean.favorite_count = pd.array(tweet_clean.favorite_count, dtype=pd.Int64Dtype())

***Test***

In [445]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   datetime64[ns, UTC]
 2   source                      6477 non-null   category
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    Int64
 5   retweeted_status_user_id    483 non-null    Int64
 6   retweeted_status_timestamp  359 non-null    datetime64[ns, UTC]
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        4588 non-null   object
 10  doggo                       253 non-null    Int64
 11  floofer                     26 non-null     Int64
 12  pupper                      700 non-null    Int64
 13  puppo                       78 non-null     Int64
 14  retweet_count               6449 non-null   Int64
 15  favorite_count              6449 non-null   Int64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   Int64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   Int64
 21  order                       6204 non-null   Int64
 22  prediction                  6204 non-null   object
dtypes: Int64(11), category(1), datetime64[ns, UTC](2), float64(1), int64(3), object(5)
memory usage: 1.2+ MB

In [447]:
tweet_clean.sample(3)

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,rating_denominator,name,...,puppo,retweet_count,favorite_count,expanded_urls,jpg_url,img_num,confidence,is_dog,order,prediction
115,884441805382717440,2017-07-10 15:58:53+00:00,iphone,"I present to you, Pup in Hat. Pup in Hat is gr...",<NA>,<NA>,NaT,14,10,NaN,...,<NA>,5200,25407,https://twitter.com/dog_rates/status/884441805...,https://pbs.twimg.com/media/DEYrIZwWsAA2Wo5.jpg,1,0.003216,1,2,Cardigan
5858,669753178989142016,2015-11-26 05:42:55+00:00,iphone,Meet Chester. He just ate a lot and now he can...,<NA>,<NA>,NaT,10,10,Chester,...,<NA>,377,777,https://twitter.com/dog_rates/status/669753178...,https://pbs.twimg.com/media/CUtw9SAVEAAtFUN.jpg,1,0.858494,1,1,Pembroke
6267,667188689915760640,2015-11-19 03:52:34+00:00,iphone,Quite an advanced dog here. Impressively dress...,<NA>,<NA>,NaT,10,10,NaN,...,<NA>,379,712,https://twitter.com/dog_rates/status/667188689...,https://pbs.twimg.com/media/CUJUk2iWUAAVtOv.jpg,1,0.265278,0,2,swab

##### `name` column has inconsistent name format. Some includes uppercase but some doesn't

***Define***

Make the all name to lowercase

***Code***

In [450]:
# Make the name to lowercase
tweet_clean.name = tweet_clean.name.str.lower()

***Test***

In [452]:
tweet_clean.name.value_counts()

a          165
charlie     34
lucy        31
oliver      31
cooper      31
          ...
old          1
life         1
rascal       1
barry        1
pherb        1
Name: name, Length: 956, dtype: int64

##### `p1`, `p2`, `p3` columns format is not consistent. The lowercase and uppercase is mixed without consistent and `-`, `_` is used both as delimiter

***Define***

Make all the values inside `prediction` column to lowercase and replace every `-` to `_` to make consistency

***Code***

In [457]:
# Make it to lowercase
tweet_clean.prediction = tweet_clean.prediction.str.lower()

# replace - to _
tweet_clean.prediction = tweet_clean.prediction.str.replace('-', '_')

***Test***

In [458]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   datetime64[ns, UTC]
 2   source                      6477 non-null   category
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    Int64
 5   retweeted_status_user_id    483 non-null    Int64
 6   retweeted_status_timestamp  359 non-null    datetime64[ns, UTC]
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        4588 non-null   object
 10  doggo                       253 non-null    Int64
 11  floofer                     26 non-null     Int64
 12  pupper                      700 non-null    Int64
 13  puppo                       78 non-null     Int64
 14  retweet_count               6449 non-null   Int64
 15  favorite_count              6449 non-null   Int64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   Int64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   Int64
 21  order                       6204 non-null   Int64
 22  prediction                  6204 non-null   object
dtypes: Int64(11), category(1), datetime64[ns, UTC](2), float64(1), int64(3), object(5)
memory usage: 1.2+ MB

In [463]:
# Check is there any uppercase letter or -
tweet_clean.prediction.str.extract(r'([A-Z])(-)').notnull().mean()

0    0.0
1    0.0
dtype: float64

**So well done! This is the end of cleaning 😊😊😊**

Now we can say our data as **twitter_archive_master**

In [466]:
# THE MASTER DATASET
twitter_archive_master = tweet_clean.copy()
twitter_archive_master.sample(5)

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,rating_denominator,name,...,puppo,retweet_count,favorite_count,expanded_urls,jpg_url,img_num,confidence,is_dog,order,prediction
5117,674739953134403584,2015-12-09 23:58:35+00:00,iphone,"""🎶 DO YOU BELIEVE IN LIFE AFTER LOVE 🎶""",<NA>,<NA>,NaT,11,10,NaN,...,<NA>,375,1063,https://twitter.com/dog_rates/status/674739953...,https://pbs.twimg.com/media/CV0oaHFW4AA9Coi.jpg,1,0.064145,1,3,toy_poodle
5492,671891728106971137,2015-12-02 03:20:45+00:00,iphone,This is Mojo. Apparently he's too cute for a s...,<NA>,<NA>,NaT,11,10,mojo,...,<NA>,550,1270,https://twitter.com/dog_rates/status/671891728...,https://pbs.twimg.com/media/CVMJ9guXAAAhAiK.jpg,1,0.349401,1,2,golden_retriever
3405,708738143638450176,2016-03-12 19:35:15+00:00,iphone,This is Coco. She gets to stay on the Bachelor...,<NA>,<NA>,NaT,11,10,coco,...,<NA>,801,2725,https://twitter.com/dog_rates/status/708738143...,https://pbs.twimg.com/media/CdXxlFPWwAABaOv.jpg,1,0.933457,1,1,pomeranian
2541,750147208377409536,2016-07-05 02:00:06+00:00,iphone,"And finally, happy 4th of July from the squad ...",<NA>,<NA>,NaT,13,10,NaN,...,<NA>,963,3109,https://twitter.com/dog_rates/status/750147208...,https://pbs.twimg.com/media/CmkO57iXgAEOxX9.jpg,1,0.004794,1,2,boston_bull
887,831926988323639298,2017-02-15 18:03:45+00:00,iphone,@UNC can confirm,831903044224835584,20683724,NaT,12,10,NaN,...,<NA>,34,337,https://blacklivesmatters.carrd.co,NaN,<NA>,NaN,<NA>,<NA>,NaN

In [467]:
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   datetime64[ns, UTC]
 2   source                      6477 non-null   category
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    Int64
 5   retweeted_status_user_id    483 non-null    Int64
 6   retweeted_status_timestamp  359 non-null    datetime64[ns, UTC]
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        4588 non-null   object
 10  doggo                       253 non-null    Int64
 11  floofer                     26 non-null     Int64
 12  pupper                      700 non-null    Int64
 13  puppo                       78 non-null     Int64
 14  retweet_count               6449 non-null   Int64
 15  favorite_count              6449 non-null   Int64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   Int64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   Int64
 21  order                       6204 non-null   Int64
 22  prediction                  6204 non-null   object
dtypes: Int64(11), category(1), datetime64[ns, UTC](2), float64(1), int64(3), object(5)
memory usage: 1.2+ MB

## Part 2. Storing, Analyzing, and Visualize Data

### A. Storing cleaned data to CSV, SQLite ✅

> **We finished cleaning the dataset and now its time to store it for further usage!**

1. Storing cleaned data to CSV 
2. Storing cleaned data to SQLite

#### 1. Storing cleaned data to CSV
Store the cleaned data to `twitter_archive_master.csv` file

In [468]:
# Store the cleaned dataset to csv
twitter_archive_master.to_csv('twitter_archive_master.csv', index=False)

In [471]:
# check is it store correctly
df = pd.read_csv('twitter_archive_master.csv')
df.head(1)

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,rating_denominator,name,...,puppo,retweet_count,favorite_count,expanded_urls,jpg_url,img_num,confidence,is_dog,order,prediction
0,892420643555336193,2017-08-01 16:23:56+00:00,iphone,This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,13,10,phineas,...,NaN,7703.0,36188.0,https://twitter.com/dog_rates/status/892420643...,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,0.097049,0.0,1.0,orange

In [472]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6477 entries, 0 to 6476
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    6477 non-null   int64
 1   timestamp                   6477 non-null   object
 2   source                      6477 non-null   object
 3   text                        6477 non-null   object
 4   retweeted_status_id         483 non-null    float64
 5   retweeted_status_user_id    483 non-null    float64
 6   retweeted_status_timestamp  359 non-null    object
 7   rating_numerator            6477 non-null   int64
 8   rating_denominator          6477 non-null   int64
 9   name                        4588 non-null   object
 10  doggo                       253 non-null    float64
 11  floofer                     26 non-null     float64
 12  pupper                      700 non-null    float64
 13  puppo                       78 non-null     float64
 14  retweet_count               6449 non-null   float64
 15  favorite_count              6449 non-null   float64
 16  expanded_urls               6477 non-null   object
 17  jpg_url                     6204 non-null   object
 18  img_num                     6204 non-null   float64
 19  confidence                  6204 non-null   float64
 20  is_dog                      6204 non-null   float64
 21  order                       6204 non-null   float64
 22  prediction                  6204 non-null   object
dtypes: float64(12), int64(3), object(8)
memory usage: 1.1+ MB

#### 2. Storing cleaned data to SQLite

## Part 3. Writing report